.spinner-indicator {
    display: none;
}

img.spinner-indicator {

    display: inline;
    position: fixed;
    top: calc(50% - 45px);
    left: calc(50% - 45px);

    z-index: 2;
    animation: spin 1500ms cubic-bezier(0.75, 0.39, 1, 1) infinite;

}

#pwafooter {
    bottom: 0%;
    height: 85px;
    z-index: 0;
    position: sticky;
    background-color: rgb(21 122 146 / 0%);
    /*animation: pullup 3s ease-in;*/

}


div.htmx-request.spinner-indicator {

    display: inline;
    position: fixed;
    z-index: 2;
    opacity: .8;

}

#timecapheader {
    opacity: 0;
    transition: opacity 1s ease-in;
}

#timecapheader.fadeInOpacity {
    opacity: 1;
}

#tcfileinput::file-selector-button {
    border-radius: 15px / 15px;
    border-width: 0;
}

.openSeachBarReversed {
    height: 45px;
    animation: expandSearchReverse 400ms ease-in;
}

.openSearchInputReversed {
    opacity: 100%;
    animation: expandSearchInputReverse 440ms ease-in;
}

.openSearchArrowReversed {
    transform: rotate(90deg);
    animation: expandSearchArrowReverse 400ms ease-in;
}

.openSeachBar {
    height: 17px;
    animation: expandSearch 400ms ease-in;
}

.openSearchInput {
    opacity: 0%;
    animation: expandSearchInput 380ms ease-in;
}

.openSearchArrow {
    transform: rotate(0deg);
    animation: expandSearchArrow 400ms ease-in;
}

.customModalTrans {
    border-radius: 25px / 25px;

    animation: enter 250ms ease-in-out
}

button.btn.btn-primary {
    box-shadow: 3px 3px 3px #0c4e9ade;
}

.navCustomItem {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    background-color: rgba(25, 38, 175, 0.89);
    z-index: 3;
    border-radius: 3px / 3px;
    box-shadow: 1px 1px 3px;
}

#stGameObj {
    animation: bounce 2s linear infinite
}

#bannerimg {
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%)
}

@media (min-width: 576px) {
    #bannerimg {
        display: none;
    }
}

@media screen and (min-width: 301px) {
    #stackerzbody {
        display: block;
    }

    #catchitbody {
        display: block;
    }
}


@media screen and (max-width: 300px) {
    #stackerzbody {
        display: none;
    }

    #catchitbody {
        display: none;
    }

}

@-webkit-keyframes animateInFromTop {
    0% {
        top: -12%
    }

    50% {
        top: 1%;
        opacity: 100%
    }

    85% {
        top: 1%;
        opacity: 100%
    }

    100% {
        top: 1%;
        opacity: 0%;
    }
}

@-webkit-keyframes animateInFromTopAgain {
    0% {
        top: -15%
    }

    50% {
        top: 1%;
        opacity: 100%
    }

    85% {
        top: 1%;
        opacity: 100%
    }

    100% {
        top: 1%;
        opacity: 0%;
    }
}

@keyframes animateInFromTop {
    0% {
        top: -15%
    }

    50% {
        top: 1%;
        opacity: 100%
    }

    85% {
        top: 1%;
        opacity: 100%
    }

    100% {
        top: 1%;
        opacity: 0%;
    }
}

@keyframes animateInFromTopAgain {
    0% {
        top: -15%
    }

    50% {
        top: 1%;
        opacity: 100%
    }

    85% {
        top: 1%;
        opacity: 100%
    }

    100% {
        top: 1%;
        opacity: 0%;
    }
}

@keyframes fallOne {
    0% {
        top: -15%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes fallOne {
    0% {
        top: -15%
    }

    100% {
        top: 100%
    }
}

@keyframes fallTwo {
    0% {
        top: -15%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes fallTwo {
    0% {
        top: -15%
    }

    100% {
        top: 100%
    }
}

@keyframes movein {
    0% {
        right: -50%
    }

    100% {
        right: 5%
    }
}

@keyframes pullup {
    0% {
        right: calc(0% - 75px);
        bottom: 0%;
        height: 85px;
        position: sticky;
        background-color: rgb(21 122 146 / 0%);
    }

    1% {
        height: 85px;
        position: sticky;
        background-color: rgb(21 122 146 / 0%);
    }

    100% {
        bottom: 0%;
        right: calc(15%);
        height: 85px;
        z-index: 2;
        position: sticky;
        width: 100dvw;
        background-color: rgb(21 122 146 / 0%);
    }
}

@keyframes bounce {
    0% {
        left: 0;
    }

    50% {
        left: calc(100dvw - var(--game-lvl-width));
    }

    100% {
        left: 0;
    }
}

@keyframes expandSearchArrow {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
}

@keyframes expandSearchInput {
    65% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes expandSearch {

    0% {
        height: 17px
    }

    100% {
        height: 45px
    }

}

@keyframes expandSearchArrowReverse {
    0% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    100% {
        transform: rotate(calc(0deg));
        -webkit-transform: rotate(calc(0deg));
    }
}

@keyframes expandSearchInputReverse {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes expandSearchReverse {

    0% {
        height: 45px
    }

    100% {
        height: 15px
    }

}

@keyframes enter {
    0% {
        transform: scale(0);
        -webkit-transition: scale(0);
    }

    75% {
        transform: scale(1.1);
        -webkit-transition: scale(1.1);
    }

    100% {
        transform: scale(1);
        -webkit-transition: scale(1);
    }
}

@keyframes spin {
    100% {
        transform: rotate(1080deg);
    }
}