.spinner-indicator {
    display: none;
}

img.spinner-indicator {

    display: inline;
    position: fixed;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    z-index: 2;
    animation: spin 1500ms cubic-bezier(0.75, 0.39, 1, 1) infinite;

}

div.htmx-request.spinner-indicator {

    display: inline;
    position: fixed;
    z-index: 2;
    opacity: .8;

}

.customModalTrans {
    border-radius: 25px / 25px;

    animation: enter 250ms ease-in-out
}

button.btn.btn-primary {
    box-shadow: 3px 3px 3px #0c4e9ade;
}

.navCustomItem {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    background-color: rgb(41 116 242 / 50%);
    z-index: 3;
    border-radius: 3px / 3px;
    box-shadow: 1px 1px 3px;
}

#stGameObj {
    animation: bounce 2s linear infinite
}

@keyframes bounce {
    0% {
        left: 0;
    }

    50% {
        left: calc(100dvw - var(--game-lvl-width));
    }

    100% {
        left: 0;
    }
}

@keyframes enter {
    0% {
        transform: scale(0);
        -webkit-transition: scale(0);
    }

    75% {
        transform: scale(1.1);
        -webkit-transition: scale(1.1);
    }

    100% {
        transform: scale(1);
        -webkit-transition: scale(1);
    }
}

@keyframes spin {
    100% {
        transform: rotate(1080deg);
    }
}