.spinner-indicator {
    display: none;
}

img.spinner-indicator {

    display: inline;
    position: fixed;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    z-index: 2;
    animation: spin 1500ms cubic-bezier(0.75, 0.39, 1, 1) infinite;

}

div.htmx-request.spinner-indicator {

    display: inline;
    position: fixed;
    z-index: 2;
    opacity: .4;

}

@keyframes spin {
    100% {
        transform: rotate(1080deg);
    }
}