.env
*.img
*.mp4
*.mpeg
public/
css/icons/
*.mov
.DS_Store
the-family-loop-fb0d9-firebase-adminsdk-k6sxl-14c7d4c4f7.json
firebase-config.js
node_modules/
terms_and_conditions.txt
example_manifest.json
*.zip
Dockerfile
assets/favicon_b.ico
assets/favicon_w.ico
webhookresp.json
webhook2resp.json