<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<body style="background: linear-gradient(180deg, #c2cbff, #00f2ff8e 35%); height: 100dvh">
    <div class="spinner-indicator" id="loadingspinner"
        style="width: 100%; height: 100%; background-color: rgb(197, 197, 197);">

        <img width="90px" height="90px" class="spinner-indicator" src="assets/LoadingSpinner.png" />
    </div>

    <img id="bannerimg" src="assets/TFLBannerW.png" alt="Welcome to TFL!" style="text-align: center;" />


    <div class="sticky-top" id="anchor">

    </div>

    <div id="divOfTabs"
        style="height: 55px; width: 100dvw; background-color: rgba(22, 22, 62, 0.558); box-shadow: 3px 3px 7px;">
        <div style="display: flex; justify-content: space-evenly; align-items: center; height: inherit">
            <button onclick="togglePanes('listOfUsersToggle')" class="btn btn-primary mx-3"
                style="box-shadow: 3px 3px 7px black; border-radius: 13px / 13px;" hx-get="/admin-list-of-users"
                hx-target="#listOfUsersDivList"
                hx-trigger="click, click from:#sortOrderLastPassReset, click from:#listOfUsersDivList"
                hx-vals="js:{'sortByLastPass': sortOrderByLastPassReset}">Users</button>
            <button
                onclick="{togglePanes('myCapsulesDiv'); document.getElementById('getEleListOfTC').dispatchEvent(new Event('click'))}"
                class="btn btn-primary mx-3" style="box-shadow: 3px 3px 7px black; border-radius: 13px / 13px;">Time
                Capsule</button>
            <button class="btn btn-primary mx-3"
                style="box-shadow: 3px 3px 7px black; border-radius: 13px / 13px;">TBD...</button>
        </div>
    </div>

    <div id="listOfUsersToggle" style="margin-top: 1%; display: none">
        <table class="table d-grid">
            <thead>
                <tr style="display: flex; width: 100dvw; justify-content: space-between; background-color: white;">
                    <th style="font-size: smaller;">Username</th>
                    <th style="font-size: smaller;">Email</th>
                    <th style="font-size: smaller;" id="sortOrderLastPassReset">Delete
                    </th>
                </tr>
            </thead>
            <tbody id="listOfUsersDivList" style="font-size: small; display: inline-table"></tbody>
        </table>
    </div>
    <div id="myCapsulesDiv" style="display: none;">
        <div style="margin-top: 1%" id="getEleListOfTC" hx-get="/admin-get-all-time-capsules"
            hx-target="#listOfTCDivList" hx-trigger="click" hx-vals="js:{'pastorpresent': pastOrPresentTC}">
            <table class="table d-grid">
                <thead>
                    <tr
                        style="display: flex; width: 100dvw; justify-content: space-between; background-color: white; align-items: center">
                        <th style="font-size: 8pt; left: 0%; position: relative;">Capsule Name</th>
                        <th style="font-size: 8pt; left: 5%; position: relative;">Created on</th>
                        <th style="font-size: 8pt; left: 1%; position: relative;" id="sortOrderPastOrPresentHeading"
                            onclick="pastOrPresentTC === '>' ? pastOrPresentTC = '<' : pastOrPresentTC = '>'">
                            Availablility Date<i class="bi bi-filter"></i></th>

                    </tr>
                </thead>
                <tbody id="listOfTCDivList" style="font-size: smaller; display: inline-table"></tbody>
            </table>
        </div>

    </div>
    <div class="modal" tabindex="-1" id="deleteUserModal" aria-labelledby="deleteUserModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3 border-0 customModalTrans" id="deleteUserModalContent">
                <div class="modal-header" style="display: block;">
                    <h4 class="modal-title" id="delete-modal-title" style="text-align: center; padding-bottom: 1%;">
                        Delete User Options
                    </h4>
                    <form hx-post="/admin-delete-user" hx-swap="none" hx-ext="json-enc"
                        hx-vals="js:{'user': selectedUser}" hx-indicator="#loadingspinner"
                        hx-on::after-request="{document.getElementById('listOfUsersDivList').dispatchEvent(new Event('click')); deleteUserModal.hide(); document.getElementById('deleteUserModal').style.zIndex = null}"
                        hx-target="#listOfUsersDivList"
                        hx-on::before-request="document.getElementById('deleteUserModal').style.zIndex = 5"
                        hx-confirm="This action cannot be undone. This will erase the user and the settings you have selected. Please confirm.">
                        <div style="display: flex; justify-content: space-evenly;">
                            <label for="deleteAllDataradioyes">Delete user & all data (group chat messages, posts, game
                                scores,
                                etc):
                            </label>
                            <div style="display: block;">
                                <div class="form-check">
                                    <label class="form-check-label" for="deleteAllDataradioyes">
                                        <input class="form-check-input" type="radio"
                                            onchange="document.getElementById('optionsPane').style.display   == 'none' ? document.getElementById('optionsPane').style.display = '' : document.getElementById('optionsPane').style.display = 'none'"
                                            value="yes" name="deleteAllData" id="deleteAllDataradioyes" checked>
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="deleteAllDataradiono">
                                        <input class="form-check-input" type="radio"
                                            onchange="document.getElementById('optionsPane').style.display == 'none' ? document.getElementById('optionsPane').style.display = '' : document.getElementById('optionsPane').style.display = 'none'"
                                            value="no" name="deleteAllData" id="deleteAllDataradiono">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div><br />
                        <div id="optionsPane" style="display: none">
                            <h5>Delete Options</h5>
                            <div style="display: flex; justify-content: space-evenly;">
                                <label for="deleteDataOptionsChatsInput">Chats:
                                </label>
                                <input type="checkbox" name="deleteDataChatsOptions" id="deleteDataOptionsChatsInput" />
                            </div>
                            <div style="display: flex; justify-content: space-evenly;">
                                <label for="deleteDataOptionsPostsInput">Posts:
                                </label>
                                <input type="checkbox" name="deleteDataPostsOptions" id="deleteDataOptionsPostsInput" />
                            </div>
                            <div style="display: flex; justify-content: space-evenly;">
                                <label for="deleteDataOptionsGameScoresInput">Game Scores:
                                </label>
                                <input type="checkbox" name="deleteDataGameScoresOptions"
                                    id="deleteDataOptionsGameScoresInput" />
                            </div>
                            <div style="display: flex; justify-content: space-evenly;">
                                <label for="deleteDataOptionsCalendarEventsInput">Calendar Events:
                                </label>
                                <input type="checkbox" name="deleteDataCalendarEventsOptions"
                                    id="deleteDataOptionsCalendarEventsInput" />
                            </div>
                        </div>
                </div>
                <button class="btn btn-danger w-100" type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <link rel="manifest" href="assets/manifest.json" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-css.min.css" rel="stylesheet">
    <link href="css/font-css.css" rel="stylesheet">
    <link href="404.html" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/htmx.min.js"></script>
    <script src="js/htmx_json-enc.js"></script>
    <script type="javascript" src="firebase-messaging-sw.js"></script>
    <script>
        const deleteUserModal = new bootstrap.Modal(document.getElementById('deleteUserModal'), {})
        const listOfPanes = ["myCapsulesDiv", "listOfUsersToggle"]
        var pastOrPresentTC = ">"
        var isAdmin = false
        var sortOrderByLastPassReset = 'desc'
        var selectedUser = ''
        document.addEventListener("load", () => {
            if (!isAdmin)
                window.location.href = "/"
        })

        function openDeleteModal(userid) {
            deleteUserModal.toggle()
            selectedUser = userid
            document.getElementById('delete-modal-title').innerHTML = document.getElementById('delete-modal-title').innerHTML.replace("User", "User: " + userid)
        }
        document.getElementById('deleteUserModal').addEventListener("hide.bs.modal", () => {
            document.getElementById('delete-modal-title').innerHTML = "Delete User Options"
        })
        function togglePanes(targetpane) {
            listOfPanes.forEach((pane) => {
                if (targetpane === pane) {
                    document.getElementById(targetpane).style.display === "none" ?
                        document.getElementById(targetpane).style.display = "" :
                        document.getElementById(targetpane).style.display = "none"
                } else {
                    document.getElementById(pane).style.display = "none"
                }
            })
        }
    </script>
</body>

</html>