<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Family Loop - Customer Support</title>
</head>

<body style="background: linear-gradient(rgb(11 8 0 / 76%), rgb(225, 225, 225) 55%); height: 100%">
    <div class="spinner-indicator" id="loadingspinner"
        style="width: 100%; height: 100%; background-color: rgb(197, 197, 197);">

        <img width="90px" height="90px" class="spinner-indicator" src="assets/LoadingSpinner.png" />
    </div>

    <img id="bannerimg" src="assets/TFLBannerW.png" alt="Welcome to TFL!" style="text-align: center;" />
    <div id="anchor">

    </div>


    <div style="display: grid; justify-content: center; margin: auto; padding: 5%;">
        <div class="modal customModalTrans" tabindex="-1" id="issueCommentsModal" aria-labelledby="oncomment"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-3"
                    style="border-radius: 15px / 15px; background-color: rgba(217, 216, 216, 0.923); border-radius: 5px 5px 5px 5px;">

                    <div class="modal-header p-2 my-1" style="display: block;">
                        <h2 class="modal-title" id="issueTitleHeader" style="text-align: center;">Loading...</h2>
                    </div>
                    <div id="commentsGoHereDiv">

                    </div>
                    <form style="width: 95%; margin: auto;" hx-swap="none" hx-post="/create-issue-comment"
                        hx-ext='json-enc' id="createIssueCommentForm"
                        hx-on::after-request="{openModalWithCommentURL(openingIssueCommentURL, document.getElementById('issueTitleHeader').innerText); document.getElementById('bugissuecommentinput').value = ''}">
                        <input class="my-3 border-1 text-center"
                            style="border-radius: 3%; width: 85%; margin: auto; display: flex" name="bugissuecomment"
                            id="bugissuecommentinput" type="text" placeholder="Comment" required maxlength="250" />
                        <button type="submit" style="width: 85%; margin: auto; display: flex; justify-content: center;"
                            class="btn btn-success my-4"><i class="bi bi-send"></i></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <h3 style="text-align: center; color: white">Report an Issue</h3>
    <form style="width: 95%; margin: auto;" hx-swap="none" hx-post="/create-issue" hx-ext='json-enc'
        hx-on::after-request="receiveStatus()">
        <input class="my-3 border-1 text-center" style="border-radius: 3%; width: 85%; margin: auto; display: flex"
            name="bugissue" id="bugissueinput" type="text" placeholder="What was the issue?" required maxlength="420" />
        <div style="display: block;">
            <h3>Is this a request for a new feature or a current problem?</h3>
            <div class="form-check">

                <label class="form-check-label" for="buglabelradio">
                    <input class="form-check-input" type="radio" value="bug" name="label" id="buglabelradio" checked>
                    Current issue
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="enhancementlabelradio">
                    <input class="form-check-input" type="radio" value="enhancement" name="label"
                        id="enhancementlabelradio">
                    New feature request
                </label>
            </div>
        </div>
        <h3>Which page were you seeing the issue?</h3>

        <div style="display: block;">
            <div class="form-check">
                <label class="form-check-label" for="postsradio">
                    <input class="form-check-input" type="radio" value="posts" name="bugerrmessages" id="postsradio"
                        checked>

                    Posts
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="chatradio">
                    <input class="form-check-input" type="radio" value="chat" name="bugerrmessages" id="chatradio">
                    Chat
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="calendarradio">
                    <input class="form-check-input" type="radio" value="calendar" name="bugerrmessages"
                        id="calendarradio">
                    Calendar
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="timecapsuleradio">
                    <input class="form-check-input" type="radio" value="timecapsule" name="bugerrmessages"
                        id="timecapsuleradio">
                    Time Capsule
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="gamesradio">
                    <input class="form-check-input" type="radio" value="games" name="bugerrmessages" id="gamesradio">
                    Games
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="paymentportalradio">
                    <input class="form-check-input" type="radio" value="paymentportal" name="bugerrmessages"
                        id="paymentportalradio">
                    Payments Portal
                </label>
            </div>
        </div>
        <h3>Provide any error messages if you had any</h3>
        <input class="my-3 border-1 text-center" style="border-radius: 3%; width: 85%; margin: auto; display: flex;"
            name="bugerrmessages" id="bugerrmessagesinput" type="text" placeholder="Any relevant error messages"
            maxlength="420" />
        <button type="submit" style="width: 85%; margin: auto; display: flex; justify-content: center;"
            class="btn btn-success my-4"><i class="bi bi-send"></i></button>
    </form>
    <div id="usersCurrentIssues" hx-get="/get-my-customer-support-issues"
        hx-trigger="load, click from:#openIssueBtn, click from:#closedIssueBtn" hx-swap="none"
        hx-on::after-request="getDataResp(event)">
        <div id="headerForOpenClosedBtn" style="display: flex; justify-content: space-around;">
            <button type="button" onclick="toggleState(event)" id="openIssueBtn" class="btn btn-primary">Open</button>
            <button type="button" onclick="toggleState(event)" id="closedIssueBtn"
                class="btn btn-primary">Closed</button>
        </div><br />
    </div>
    <h6 id="openHeader" style="text-align: center">Open support cases</h6>
    <div id="openDataTable"
        style="background: rgba(98, 169, 213, 0.695); width: 100%; padding: 2%; box-shadow: 3px 3px 7px black; border-radius: 14px 14px 14px 14px;">
    </div>
    <h6 id="closedHeader" style="text-align: center; display: none">Closed support cases</h6>
    <div id="closedDataTable"
        style="background: rgba(165, 156, 134, 0.731); display: none; width: 100%; padding: 2%; box-shadow: 3px 3px 7px black; border-radius: 14px 14px 14px 14px;">

    </div>

    <br />
    <br /><br />
    <div>
        <h5>You can check all existing <a target="_blank"
                href='https://github.com/zanton173/the-family-loop/issues'>issues & bugs
                here</a></h5>
    </div>
    </div>
    <link rel="manifest" href="assets/manifest.json" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-css.min.css" rel="stylesheet">
    <link href="css/font-css.css" rel="stylesheet">
    <link rel="preload" fetchpriority="high" as="image" href="/assets/TFLBannerW.png" type="image/png">
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/htmx.min.js"></script>
    <script src="js/htmx_json-enc.js"></script>
    <script type="module" src="js/globalFunctions.js"></script>
    <script>
        const issueCommentsModal = new bootstrap.Modal(document.getElementById('issueCommentsModal'), {});
        var isOpenIssue = true
        var openingIssueCommentURL = ""
        function toggleState(event) {

            if (event.srcElement.id === "openIssueBtn") {
                isOpenIssue = true
                document.getElementById('openDataTable').innerHTML = ""
                document.getElementById('openDataTable').style.display = ""
                document.getElementById('closedDataTable').style.display = "none"
                document.getElementById('openHeader').style.display = ""
                document.getElementById('closedHeader').style.display = "none"
            } else {
                isOpenIssue = false
                document.getElementById('closedDataTable').innerHTML = ""
                document.getElementById('openDataTable').style.display = "none"
                document.getElementById('closedDataTable').style.display = ""
                document.getElementById('closedHeader').style.display = ""
                document.getElementById('openHeader').style.display = "none"
            }

        }
        document.getElementById('usersCurrentIssues').addEventListener('htmx:configRequest', function (evt) {
            isOpenIssue ?
                evt.detail.parameters['state'] = "open"
                : evt.detail.parameters['state'] = "closed"
        });
        document.getElementById('createIssueCommentForm').addEventListener('htmx:configRequest', function (evt) {
            evt.detail.parameters['comurl'] = openingIssueCommentURL
        })
        async function openModalWithCommentURL(commenturl, issuetitle) {
            document.getElementById('commentsGoHereDiv').innerHTML = ""
            document.getElementById("issueTitleHeader").innerText = issuetitle
            const commentResp = await fetch(`/get-issues-comments?comurl=${commenturl}`, {
                method: "GET",
                headers: {
                    "Content-type": "application/json"
                }
            })
            const convtojson = await commentResp.json()

            if (convtojson === null || convtojson.length === 0) {
                document.getElementById('commentsGoHereDiv').innerText = "No comments"
            } else {
                var textAlign = "left"
                for (var i = 0; i < convtojson.length; i++) {
                    if (convtojson[i].user.login === "zanton173") {
                        convtojson[i].user.login = "Support Agent"
                        textAlign = "left"
                    } else if (convtojson[i].user.login.toLowerCase() === 'tfl-customer-service') {
                        convtojson[i].user.login = "Me"
                        textAlign = "right"
                    } else {
                        convtojson[i].user.login = "Unknown author"
                        textAlign = "left"
                    }
                    document.getElementById('commentsGoHereDiv').innerHTML += `<div style='text-align: ${textAlign}'>` + convtojson[i].body + "<br/>" + " - from: " + convtojson[i].user.login + "<br/><p style='font-size: xx-small; margin-bottom: 0%'> " + new Date(convtojson[i].created_at).toDateString() + "</p></div><br/>"
                }
            }
            openingIssueCommentURL = commenturl
            issueCommentsModal.show()
        }

        async function getDataResp(event) {
            const resp = await event.detail.xhr.response
            const jsonresp = JSON.parse(resp)
            if (isOpenIssue) {
                if (jsonresp === null || jsonresp.length === 0) {
                    document.getElementById('openDataTable').innerHTML = "You have no open issues at this time"
                } else {
                    for (var i = 0; i < jsonresp.length; i++) {
                        var itemCard = document.createElement("div")
                        itemCard.setAttribute("style", "border-style: double; padding: 1%; background-color: gray; border-radius: 13px 13px 13px 13px")
                        var divItemBody = document.createElement('div')
                        var divItemTitle = document.createElement('div')
                        divItemTitle.setAttribute("class", "row")
                        divItemTitle.style.marginLeft = "auto"
                        var divItemContent = document.createElement('div')
                        divItemContent.setAttribute("class", "row")
                        divItemContent.style.marginLeft = "auto"
                        var divItemCreated = document.createElement('div')
                        divItemCreated.setAttribute("class", "row")
                        divItemCreated.setAttribute("style", "display: flex; justify-content: end; margin-right: auto; font-size: smaller")
                        var buttonItemComments = document.createElement('button')
                        buttonItemComments.setAttribute("style", "display: flex; margin: auto; width: 65%; justify-content: center")
                        buttonItemComments.setAttribute("class", "btn btn-primary")
                        buttonItemComments.id = jsonresp[i].title
                        buttonItemComments.setAttribute("onclick", `openModalWithCommentURL('${jsonresp[i].comments_url}', '${jsonresp[i].title}')`)

                        var title = jsonresp[i].title
                        var body = jsonresp[i].body.split("-")[0]
                        var comments_url = jsonresp[i].comments_url
                        var created = jsonresp[i].created_at
                        buttonItemComments.innerText = "Comments"
                        divItemTitle.innerText = title
                        divItemContent.innerText = body
                        divItemCreated.innerText = new Date(created).toDateString()
                        itemCard.append(divItemTitle)
                        itemCard.append(divItemContent)
                        itemCard.append(divItemCreated)
                        itemCard.append(buttonItemComments)
                        divItemBody.append(itemCard)
                        divItemBody.append(document.createElement("br"))
                        document.getElementById('openDataTable').innerHTML += divItemBody.innerHTML
                    }
                }
            } else {

                if (jsonresp === null || jsonresp.length === 0) {
                    document.getElementById('closedDataTable').innerText = "You have no closed issues at this time"

                } else {
                    for (var i = 0; i < jsonresp.length; i++) {
                        var itemCard = document.createElement("div")
                        itemCard.setAttribute("style", "border-style: double; padding: 1%; background-color: gray; border-radius: 13px 13px 13px 13px")
                        var divItemBody = document.createElement('div')
                        var divItemTitle = document.createElement('div')
                        divItemTitle.setAttribute("class", "row")
                        divItemTitle.style.marginLeft = "auto"
                        var divItemContent = document.createElement('div')
                        divItemContent.setAttribute("class", "row")
                        divItemContent.style.marginLeft = "auto"
                        var divItemCreated = document.createElement('div')
                        divItemCreated.setAttribute("class", "row")
                        divItemCreated.setAttribute("style", "display: flex; justify-content: end; margin-right: auto; font-size: smaller")
                        var buttonItemComments = document.createElement('button')
                        buttonItemComments.setAttribute("style", "display: flex; margin: auto; width: 65%; justify-content: center")
                        buttonItemComments.setAttribute("class", "btn btn-primary")
                        buttonItemComments.id = jsonresp[i].title
                        buttonItemComments.setAttribute("onclick", `openModalWithCommentURL('${jsonresp[i].comments_url}', '${jsonresp[i].title}')`)
                        var title = jsonresp[i].title
                        var body = jsonresp[i].body.split("-")[0]
                        var comments_url = jsonresp[i].comments_url
                        var created = jsonresp[i].created_at
                        buttonItemComments.innerText = "Comments"
                        divItemTitle.innerText = title
                        divItemContent.innerText = body
                        divItemCreated.innerText = new Date(created).toDateString()
                        itemCard.append(divItemTitle)
                        itemCard.append(divItemContent)
                        itemCard.append(divItemCreated)
                        itemCard.append(buttonItemComments)
                        divItemBody.append(itemCard)
                        divItemBody.append(document.createElement("br"))
                        document.getElementById('closedDataTable').innerHTML += divItemBody.innerHTML

                    }
                }
            }
        }


        function receiveStatus() {
            window.location.reload()
        }

    </script>
</body>


</html>