<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="assets/manifest.json" />

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-css.css" rel="stylesheet">
    <link href="css/font-css.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--<script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
            <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>-->
    <script src="js/htmx.min.js"></script>
    <script src="js/htmx_json-enc.js"></script>
    <script type="module" src="js/globalFunctions.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/calendar.css" />
    <title>The Family Loop - Calendar</title>
</head>

<body style="background: linear-gradient(180deg, #00106e, #00ecff 75%); height: 120dvh">
    <div class="spinner-indicator" id="loadingspinner"
        style="width: 100%; height: 100%; background-color: rgb(197, 197, 197);">

        <img width="90px" height="90px" class="spinner-indicator" src="assets/LoadingSpinner.png" />
    </div>
    <img id="bannerimg" src="assets/TFLBannerW.png" alt="Welcome to TFL!"
        style="text-align: center; width: 35dvw; left: 50dvw;" />
    <div id="anchor">

    </div>
    <div style="text-align: center; height: 15px">

        <!--<p id="cal-header-for-popover" data-bs-container="body" data-bs-placement="top" data-bs-toggle="popover"
            data-bs-content="If the event is more than one day, you can select just the start & end date
            and the event will be planned for the entire period between." style="font-size: small;">How to
            use
        </p>-->
    </div>
    <div class="calendar-container" id="caldiv">
        <header class="calendar-header">
            <p class="calendar-current-date"></p>

            <div class="calendar-navigation">
                <span id="calendar-prev" class="material-symbols-rounded">
                    <i class="bi bi-arrow-left"></i>
                </span>
                <span id="calendar-next" class="material-symbols-rounded">
                    <i class="bi bi-arrow-right"></i>
                </span>
            </div>
            <br />

        </header>

        <div class="calendar-body">
            <ul class="calendar-weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="calendar-dates" id="listOfActiveDates"></ul>
        </div>
        <h2>Create an event:</h2>
        <div style="display: flex; justify-content: space-evenly; width: 60dvw; margin-left: calc(60dvw / 2)">
            <p style="position: absolute; left: 6%; margin-right: 5%;">Start:</p>
            <select name="startDateMonth" id="startDateMonth" onchange="{updateStartDayPicker(); validateBothDates()}">

            </select>
            <select name="startDateDay" id="startDateDay" onchange="validateBothDates()">

            </select>
            <select name="startDateYear" id="startDateYear" onchange="validateBothDates()">

            </select>
        </div><br />
        <p id='warning_text' style="color: red;"></p>
        <div style="display: flex; justify-content: space-evenly;  width: 60dvw; margin-left: calc(60dvw / 2)">
            <p style="position: absolute; left: 6%; margin-right: 5%;">End:</p>
            <select name="endDateMonth" id="endDateMonth" onchange="{updateEndDayPicker(); validateBothDates()}">

            </select>
            <select name="endDateDay" id="endDateDay" onchange="validateBothDates()">

            </select>
            <select name="endDateYear" id="endDateYear" onchange="validateBothDates()">

            </select>
        </div>
        <div id="selectedDateHeaders" style="display: inline;">
            <p id="selectedDateStart"></p>
            <p id="selectedDateEnd"></p>
        </div>
        <div style="text-align: center; display: grid;" class="px-5" id="add-button-to-submit">

        </div>
        <div class="py-5"></div>
    </div>
    <div class="modal customModalTrans" id="openEventDetail" tabindex="-1" aria-labelledby="openEventDetailLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div id="event-comments" class="modal-content p-2"
                style="border-radius: 2%;background-color: rgb(99 81 255 / 65%);">
                <div id="multipleEventArrows"
                    style="display: none; background-color: white; justify-content: space-around; border-radius: 5px / 5px; padding: 3px; margin: 1%;">
                    <i class='bi bi-arrow-90deg-left p-1' onclick="getLeftEvent()"></i>
                    <i class='bi bi-arrow-90deg-right p-1' onclick="getRightEvent()"></i>
                </div>
                <div class="modal-content" id="modal-event-content">
                    <h3 id="eventtitleele" style="text-align: center;"></h3>
                    <button id="delEventBtn" class="btn btn-danger" hx-post="/delete-event" hx-ext="json-enc"
                        hx-vals="js:{'commentSelectedEventId': commentSelectedEventId}"
                        hx-on::after-request="window.location.reload()" hx-indicator="#loadingspinner" hx-swap="none"
                        hx-confirm="This will delete the event and all comments / RSVPs associated forever. Are you sure you want to delete it?"
                        style="border-radius: 27px;display: none;box-shadow: 6px 2px 12px black; width: 10%; position: absolute; top: 2%; right: 2%"
                        hx-trigger="click">X</button>
                    <h7 id="eventdateele"></h7>

                    <p id="eventdetailsele"></p>
                    <div class="border-2">
                        <h3 style="margin-left: 5%;">Responses</h3>
                        <div id="rsvpnotes" hx-get="/get-rsvp" hx-trigger="load, click"
                            hx-vals="js:{'event_id': commentSelectedEventId, 'username': username}" hx-target='this'>

                        </div>
                    </div>
                    <div id="rsvp">
                        <button id="yesbtn" value="yes" onclick="updateStatus(event.target.value)"
                            class="btn btn-outline-success border-0"><i
                                class="bi bi-check-lg"></i>&nbsp;&nbsp;yes</button>
                        <button id="nobtn" value="no" onclick="updateStatus(event.target.value)"
                            class="btn btn-outline-danger border-0"><i class="bi bi-x-lg"></i>&nbsp;&nbsp;no</button>
                        <button id="maybebtn" value="maybe" onclick="updateStatus(event.target.value)"
                            class="btn btn-outline-warning border-0"><i
                                class="bi bi-asterisk"></i>&nbsp;&nbsp;maybe</button>
                    </div>

                    <div hx-get='/get-event-comments' hx-on::after-request="checkIfEventIsInPast()"
                        hx-vals='js:{"commentSelectedEventID": commentSelectedEventId}' hx-ext='json-enc'
                        hx-trigger="loadCommentEvent" hx-swap='beforeend' id="eventappendcomments">
                    </div>
                </div>

                <form id="createeventcomment" class="d-grid" hx-post="/create-event-comment"
                    hx-vals='js:{"commentSelectedEventID": commentSelectedEventId}' hx-ext='json-enc'
                    hx-target="#eventappendcomments" hx-swap="beforeend" hx-on:htmx:after-request="clearForm()">
                    <input class="my-2 shadow-sm border-1 text-center" name="eventcomment" id="commentnoteevent"
                        type="text" placeholder="add comment" required maxlength="280"
                        oninput="checkCommentValidity()" />


                    <!--<button type="button" class="btn btn-dark col" data-bs-dismiss="modal">close</button><br />-->
                </form>
            </div>
        </div>
    </div>
</body>
<script>

    const iconyes = document.createElement('i')
    iconyes.setAttribute('class', "bi bi-check-lg")
    const iconno = document.createElement('i')
    iconno.setAttribute("class", "bi bi-x-lg")
    const iconmaybe = document.createElement('i')
    iconmaybe.setAttribute("class", "bi bi-asterisk")
    var startDateMonthPicker = document.getElementById('startDateMonth')
    var startDateDayPicker = document.getElementById('startDateDay')
    var startDateYearPicker = document.getElementById('startDateYear')
    var endDateMonthPicker = document.getElementById('endDateMonth')
    var endDateDayPicker = document.getElementById('endDateDay')
    var endDateYearPicker = document.getElementById('endDateYear')
    var finalStartDate = undefined
    var finalEndDate = undefined
    var allEvents = []
    var eventDetailModal = new bootstrap.Modal(document.getElementById('openEventDetail'), {});
    var clickedDate = undefined

    var eventCarouselIter = 0

    var calendarItems = []

    var selectedArrayOfDates = []

    var commentSelectedEventId = 0

    const modalContentDiv = document.getElementById("modal-event-content")

    document.body.addEventListener("htmx:load", async function (event) {

        const eventResp = await fetch("/get-events", {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            }
        })
        allEvents = await eventResp.json().then((jsondata) => {

            return jsondata
        })
        allEvents = allEvents.map((ele) =>

            ({ ...ele, Startdate: ele.Startdate.split("T", 1)[0].split("-", 3), Enddate: ele.Enddate.split("T", 1)[0].split("-", 3) })
        )

        setDatesThatHaveEvents()

    })

    function checkIfEventIsInPast() {

        document.getElementById('commentnoteevent').value = ""
        var selectedEvent = allEvents.filter((data) => data.Eventid == commentSelectedEventId)
        var eventDate = new Date(selectedEvent[0].Startdate[0], selectedEvent[0].Startdate[1] - 1, selectedEvent[0].Startdate[2]).setHours(0, 0, 0, 0)
        var currentDate = new Date().setHours(0, 0, 0, 0)
        if (eventDate < currentDate) {
            document.getElementById('commentnoteevent').style.display = "none"
            if (document.getElementById('submitEventCommentBtn'))
                document.getElementById('submitEventCommentBtn').style.display = "none"
            document.getElementById('yesbtn').style.display = "none"
            document.getElementById('nobtn').style.display = "none"
            document.getElementById('maybebtn').style.display = "none"
        } else {
            document.getElementById('commentnoteevent').style.display = ""
            if (document.getElementById('submitEventCommentBtn'))
                document.getElementById('submitEventCommentBtn').style.display = ""
            document.getElementById('yesbtn').style.display = ""
            document.getElementById('nobtn').style.display = ""
            document.getElementById('maybebtn').style.display = ""

        }
    }
    function setDatesThatHaveEvents() {

        listOfActive = document.querySelectorAll("[style='background-color: rgba(255, 255, 255, .5); border-radius: 15%;']")
        tmpAllEvents = allEvents.filter((event) => Number(event.Startdate[1]) == month + 1 || (Number(event.Enddate[1]) == month + 1))
        tmpMultiAllEvents = tmpAllEvents.filter((event) => event.Enddate.length > 1)
        tmpSingleEvents = tmpAllEvents.filter((event) => event.Enddate.length === 1)

        for (var j = 0; j < tmpSingleEvents.length; j++) {
            calendarItems.forEach((item) => {
                if (new Date(item.id).toDateString() == new Date(tmpSingleEvents[j].Startdate[0], tmpSingleEvents[j].Startdate[1] - 1, tmpSingleEvents[j].Startdate[2]).toDateString()) {
                    item.setAttribute("style", "background-color: #837dff; border-radius: 25%;")
                    item.setAttribute("onclick", `{setSelectedDate('${item.id}'); openEventModal(${JSON.stringify(tmpSingleEvents)}, ${JSON.stringify(tmpMultiAllEvents)});}`)
                    return
                }
            })
        }
        for (var j = 0; j < tmpMultiAllEvents.length; j++) {
            var rangeOfDates = []
            var getDateIter = 0
            var tmpIter = 0
            while (new Date(tmpMultiAllEvents[j].Startdate[0], tmpMultiAllEvents[j].Startdate[1] - 1, Number(tmpMultiAllEvents[j].Startdate[2]) + getDateIter) <= new Date(tmpMultiAllEvents[j].Enddate[0], Number(tmpMultiAllEvents[j].Enddate[1]) - 1, tmpMultiAllEvents[j].Enddate[2])) {
                if (new Date(tmpMultiAllEvents[j].Startdate[0] + "/" + tmpMultiAllEvents[j].Startdate[1] + "/" + (Number(tmpMultiAllEvents[j].Startdate[2]) + getDateIter).toString()) == "Invalid Date") {
                    if ((Number(tmpMultiAllEvents[j].Startdate[1]) + 1) == 13)
                        rangeOfDates.push((Number(tmpMultiAllEvents[j].Startdate[0]) + 1).toString() + "/" + (Number(1)).toString() + "/" + (Number(1) + tmpIter).toString())
                    rangeOfDates.push(tmpMultiAllEvents[j].Startdate[0] + "/" + (Number(tmpMultiAllEvents[j].Startdate[1]) + 1).toString() + "/" + (Number(1) + tmpIter).toString())
                    tmpIter++
                    getDateIter++
                } else {
                    rangeOfDates.push(tmpMultiAllEvents[j].Startdate[0] + "/" + Number(tmpMultiAllEvents[j].Startdate[1]) + "/" + (Number(tmpMultiAllEvents[j].Startdate[2]) + getDateIter).toString())
                    getDateIter++
                }

            }
            rangeOfDates.forEach((date) => {

                calendarItems.forEach((data) => {

                    if (data.id == date) {

                        data.setAttribute("style", "background-color: #5ef4b9; border-radius: 25%;")
                        data.setAttribute("onclick", `{setSelectedDate('${data.id}'); openEventModal(${JSON.stringify(tmpSingleEvents)}, ${JSON.stringify(tmpMultiAllEvents)}); }`)
                        return
                    }
                })
            })
            rangeOfDates = []
            getDateIter = 0
        }

    }

    async function updateStatus(event) {
        const resp = await fetch("/update-rsvp-for-event", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ username, status: event, event_id: commentSelectedEventId })
        }).then((data) => {
            if (data.status == 200)
                alert("RSVP sent")
            else if (data.status == 400)
                alert("RSVP sent")
            checkForRSVP(commentSelectedEventId)
        }).catch((err) => {
            alert("Something went wrong: " + JSON.stringify(err))
        })

    }
    async function checkForRSVP(event_id) {
        const resp = await fetch("/get-rsvp-data?event_id=" + event_id + "&username=" + username, {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        }).then(async (data) => {
            const status = await data.text()
            if (data.status == 200 && status > ' ') {
                resetAllRSVPBtns()
                switch (status) {
                    case "yes":
                        document.getElementById(status + "btn").disabled = true
                        document.getElementById(status + 'btn').append(iconyes)
                        document.getElementById(status + "btn").innerHTML = "RSVP status: " + status
                        document.getElementById('nobtn').disabled = false
                        document.getElementById('maybebtn').disabled = false
                        break;
                    case "no":
                        document.getElementById(status + "btn").disabled = true
                        document.getElementById(status + 'btn').append(iconno)
                        document.getElementById(status + "btn").innerHTML = "RSVP status: " + status
                        document.getElementById('yesbtn').disabled = false
                        document.getElementById('maybebtn').disabled = false
                        break;
                    case "maybe":
                        document.getElementById(status + "btn").disabled = true
                        document.getElementById(status + 'btn').append(iconmaybe)
                        document.getElementById(status + "btn").innerHTML = "RSVP status: " + status
                        document.getElementById('nobtn').disabled = false
                        document.getElementById('yesbtn').disabled = false
                        break;
                    default:
                        break;
                }

            } else {
                resetAllRSVPBtns()
            }

        }).catch((err) => {
            alert('something went wrong: ' + JSON.stringify(err))
        })
    }
    function resetAllRSVPBtns() {
        document.getElementById('nobtn').disabled = false
        document.getElementById('nobtn').innerHTML = ""
        document.getElementById('nobtn').append(iconno)
        document.getElementById('nobtn').innerHTML += "&nbsp;&nbsp;no"
        document.getElementById('yesbtn').disabled = false
        document.getElementById('yesbtn').innerHTML = ""
        document.getElementById('yesbtn').append(iconyes)
        document.getElementById('yesbtn').innerHTML += "&nbsp;&nbsp;yes"
        document.getElementById('maybebtn').disabled = false
        document.getElementById('maybebtn').innerHTML = ""
        document.getElementById('maybebtn').append(iconmaybe)
        document.getElementById('maybebtn').innerHTML += "&nbsp;&nbsp;maybe"
    }
    function setSelectedDate(date) {
        clickedDate = new Date(date)
    }
    function openEventModal(dataSingle, dateMultiple) {
        selectedArrayOfDates = []

        var thisDate = dataSingle.filter((data) => new Date(data.Startdate[0], data.Startdate[1] - 1, data.Startdate[2]).toDateString() == clickedDate.toDateString())
        var thisDateMultiple = tmpAllEvents.filter((data) => new Date(data.Startdate[0], data.Startdate[1] - 1, data.Startdate[2]).toDateString() == clickedDate.toDateString()
            || (clickedDate.getTime() <= new Date(data.Enddate[0], data.Enddate[1] - 1, data.Enddate[2]).getTime() && clickedDate.getTime() >= new Date(data.Startdate[0], data.Startdate[1] - 1, data.Startdate[2]).getTime()))

        if (thisDate.length > 1 || thisDateMultiple.length > 1) {
            document.getElementById('multipleEventArrows').style.display = "flex"
            thisDateMultiple.forEach((event) => selectedArrayOfDates.push({ "single": false, "eventid": event.Eventid }))
        } else
            document.getElementById('multipleEventArrows').style.display = "none"

        if (!eventDetailModal._isShown)
            eventDetailModal.show()

        refreshEventData = () => {

            if (thisDateMultiple[eventCarouselIter].Eventowner == username)
                document.getElementById('delEventBtn').style.display = "inline"
            else
                document.getElementById('delEventBtn').style.display = "none"

            if (thisDateMultiple[eventCarouselIter].Enddate.length > 1) {
                document.getElementById('eventdateele').innerHTML = new Date(thisDateMultiple[eventCarouselIter].Startdate[0], thisDateMultiple[eventCarouselIter].Startdate[1] - 1, thisDateMultiple[eventCarouselIter].Startdate[2]).toDateString() + ' - ' + new Date(thisDateMultiple[eventCarouselIter].Enddate[0], thisDateMultiple[eventCarouselIter].Enddate[1] - 1, thisDateMultiple[eventCarouselIter].Enddate[2]).toDateString()
                document.getElementById('eventtitleele').innerHTML = thisDateMultiple[eventCarouselIter].Eventtitle + " - " + thisDateMultiple[eventCarouselIter].Eventowner
                document.getElementById('eventdetailsele').innerHTML = thisDateMultiple[eventCarouselIter].Eventdetails
                commentSelectedEventId = thisDateMultiple[eventCarouselIter].Eventid
                document.getElementById('eventappendcomments').dispatchEvent(new Event('loadCommentEvent'))
                //document.getElementById('rsvpnotes').dispatchEvent(new Event('click'))
                document.getElementById('rsvpnotes').dispatchEvent(new Event('click'))
                checkForRSVP(thisDateMultiple[eventCarouselIter].Eventid)
                document.getElementById('eventappendcomments').innerHTML = ''
            } else {
                document.getElementById('eventdateele').innerHTML = new Date(thisDateMultiple[eventCarouselIter].Startdate[0], thisDateMultiple[eventCarouselIter].Startdate[1] - 1, thisDateMultiple[eventCarouselIter].Startdate[2]).toDateString()
                document.getElementById('eventtitleele').innerHTML = thisDateMultiple[eventCarouselIter].Eventtitle + " - " + thisDateMultiple[eventCarouselIter].Eventowner
                document.getElementById('eventdetailsele').innerHTML = thisDateMultiple[eventCarouselIter].Eventdetails
                commentSelectedEventId = thisDateMultiple[eventCarouselIter].Eventid
                document.getElementById('eventappendcomments').dispatchEvent(new Event('loadCommentEvent'))
                //document.getElementById('rsvpnotes').dispatchEvent(new Event('click'))
                document.getElementById('rsvpnotes').dispatchEvent(new Event('click'))
                checkForRSVP(thisDateMultiple[eventCarouselIter].Eventid)
                document.getElementById('eventappendcomments').innerHTML = ''
            }


        }
        eventCarouselIter = 0
        refreshEventData()

    }
    function getLeftEvent() {
        eventCarouselIter == 0 ? eventCarouselIter = selectedArrayOfDates.length - 1 : eventCarouselIter--
        refreshEventData()
    }
    function getRightEvent() {
        eventCarouselIter == selectedArrayOfDates.length - 1 ? eventCarouselIter = 0 : eventCarouselIter++
        refreshEventData()
    }
    document.getElementById("openEventDetail").addEventListener("hidden.bs.modal", () => {
        document.getElementById('rsvpnotes').innerHTML = ""
    })
    if (document.getElementById('createeventcomment').contains(document.getElementById('submitEventCommentBtn'))) {
        document.getElementById('createeventcomment').removeChild(document.getElementById('submitEventCommentBtn'))
        document.getElementById('commentnoteevent').value = ''
    }
    const submitBtn = document.createElement('button')
    function checkCommentValidity() {

        if (document.getElementById('commentnoteevent').value > '' && !document.getElementById('createeventcomment').contains(document.getElementById('submitEventCommentBtn'))) {

            submitBtn.setAttribute('class', 'btn btn-success col')
            submitBtn.setAttribute('type', 'submit')
            submitBtn.setAttribute('id', 'submitEventCommentBtn')
            submitBtn.innerHTML = 'comment'
            document.getElementById('createeventcomment').append(submitBtn)
        } else if (document.getElementById('commentnoteevent').value == '' && document.getElementById('createeventcomment').contains(document.getElementById('submitEventCommentBtn'))) {
            document.getElementById('createeventcomment').removeChild(submitBtn)

        }

    }
    function clearForm() {
        if (document.getElementById('createeventcomment').contains(document.getElementById('submitEventCommentBtn'))) {
            document.getElementById('createeventcomment').removeChild(submitBtn)
            document.getElementById('commentnoteevent').value = ''
        }
    }
    const divToAddSubmitTo = document.getElementById('add-button-to-submit')
    const btnToAddEvent = document.createElement('button')

    const txtAreaToAddEvent = document.createElement('textarea')
    txtAreaToAddEvent.setAttribute("placeholder", "Put your event details here.")
    txtAreaToAddEvent.setAttribute("class", "pb-4")
    txtAreaToAddEvent.setAttribute("maxlength", "220")


    const titleInputToAddEvent = document.createElement('input')
    titleInputToAddEvent.setAttribute("type", "text")
    titleInputToAddEvent.setAttribute("name", "eventtitle")
    titleInputToAddEvent.setAttribute("placeholder", 'event title')
    titleInputToAddEvent.setAttribute("maxlength", "42")
    titleInputToAddEvent.setAttribute("class", "my-1")
    titleInputToAddEvent.setAttribute("id", "eventtitleid")


    btnToAddEvent.setAttribute("class", "btn btn-secondary w-75 text-center justify-center")
    btnToAddEvent.setAttribute("style", "margin-top: 2%; margin-bottom: 2%; position: relative; justify-self: center")
    //btnToAddEvent.setAttribute("onclick", 'currentSelectedDate()')

    btnToAddEvent.addEventListener("click", async function (event) {
        if (txtAreaToAddEvent.value === '' || titleInputToAddEvent.value === '') {
            txtAreaToAddEvent.setAttribute("class", "pb-4 is-invalid")
            titleInputToAddEvent.setAttribute("class", "my-2 is-invalid")
            alert("Please fill out title & description")
            return
        }
        var postBody = {}
        if (finalEndDate === undefined) {
            postBody = {
                "start_date": finalStartDate.toDateString(),
                "event_details": txtAreaToAddEvent.value,
                "event_title": titleInputToAddEvent.value
            }
        } else {
            postBody = {
                "start_date": finalStartDate.toDateString(),
                "event_details": txtAreaToAddEvent.value,
                "event_title": titleInputToAddEvent.value,
                "end_date": finalEndDate.toDateString()
            }
        }
        const resp = await fetch("/create-event", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postBody)
        })

        if (resp.status == 200) {
            /*
            divToAddSubmitTo.removeChild(btnToAddEvent)
            divToAddSubmitTo.removeChild(txtAreaToAddEvent)
            divToAddSubmitTo.removeChild(titleInputToAddEvent)
            var getActive = document.querySelectorAll('li.active')
            getActive.forEach(ele => ele.setAttribute('class', ''))*/

            window.location.reload()
        } else if (resp.status == 401) {
            alert("You may not be logged in. Try logging in and refreshing the page.")
        } else if (resp.status == 400) {
            alert("something went wrong, please try again")
        }

    })
    btnToAddEvent.innerHTML = "Create new event"

    //const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    //const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    /*const headerEle = document.getElementById('cal-header-for-popover')
    headerEle.addEventListener("mouseover", function (event) {
        popoverList[0].toggle()
    })
    headerEle.addEventListener("mouseout", function (event) {
        popoverList[0].toggle()
    })*/

    let date = new Date();
    let year = date.getFullYear();
    let month = date.getMonth();

    let todayDay = date.getDay()

    const day = document.querySelector(".calendar-dates");

    const currdate = document.querySelector(".calendar-current-date");

    const prenexIcons = document.querySelectorAll(".calendar-navigation span");

    // Array of month names
    const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    ];
    for (var i = 0; i < months.length; i++) {

        var curOption = document.createElement("option")

        curOption.id = months[i] + "_" + i
        curOption.value = months[i] + "_" + i
        curOption.innerHTML = months[i]
        startDateMonthPicker.appendChild(curOption)
        if (month === i)
            curOption.selected = true
    }
    for (var i = 0; i < months.length; i++) {

        var curOption = document.createElement("option")

        curOption.id = months[i] + "_" + i
        curOption.value = months[i] + "_" + i
        curOption.innerHTML = months[i]
        endDateMonthPicker.appendChild(curOption)
        if (month === i)
            curOption.selected = true
    }
    for (var i = year; i < 2080; i++) {
        var curOptionYear = document.createElement("option")
        curOptionYear.id = "year_" + i
        curOptionYear.value = "year_" + i
        curOptionYear.innerHTML = i
        startDateYearPicker.appendChild(curOptionYear)
    }
    for (var i = year; i < 2080; i++) {
        var curOptionYear = document.createElement("option")
        curOptionYear.id = "year_" + i
        curOptionYear.value = "year_" + i
        curOptionYear.innerHTML = i
        endDateYearPicker.appendChild(curOptionYear)
    }
    function updateStartDayPicker() {
        var i, L = startDateDayPicker.options.length - 1;
        for (i = L; i >= 0; i--) {
            startDateDayPicker.remove(i);
        }
        for (var i = 1; i <= new Date(year, Number(startDateMonthPicker.value.split("_")[1]) + 1, 0).getDate(); i++) {
            var curOption = document.createElement("option")

            curOption.id = "day_" + i
            curOption.value = "day_" + i
            curOption.innerHTML = i
            startDateDayPicker.appendChild(curOption)
        }
    }
    function updateEndDayPicker() {
        var i, L = endDateDayPicker.options.length - 1;
        for (i = L; i >= 0; i--) {
            endDateDayPicker.remove(i);
        }
        for (var i = 1; i <= new Date(year, Number(endDateMonthPicker.value.split("_")[1]) + 1, 0).getDate(); i++) {
            var curOption = document.createElement("option")

            curOption.id = "day_" + i
            curOption.value = "day_" + i
            curOption.innerHTML = i
            endDateDayPicker.appendChild(curOption)
        }
    }
    updateStartDayPicker()
    updateEndDayPicker()
    function validateBothDates() {
        var selectedStartDate = new Date(Number(startDateYearPicker.value.split("_")[1]), Number(startDateMonthPicker.value.split("_")[1]), Number(startDateDayPicker.value.split("_")[1]))
        var selectedEndDate = new Date(Number(endDateYearPicker.value.split("_")[1]), Number(endDateMonthPicker.value.split("_")[1]), Number(endDateDayPicker.value.split("_")[1]))
        if (selectedStartDate.setUTCHours(0, 0, 0, 0) < new Date().setUTCHours(0, 0, 0, 0))
            document.getElementById('warning_text').innerHTML = "You cannot pick a date in the past"
        else
            document.getElementById('warning_text').innerHTML = ""

        if (selectedEndDate < selectedStartDate) {
            endDateDayPicker.value = startDateDayPicker.value
            endDateMonthPicker.value = startDateMonthPicker.value
            endDateYearPicker.value = startDateYearPicker.value
            finalEndDate = undefined
        }
        eventDatePicker()
    }
    // Control item which is selected
    var listOfSelected = []

    // Formatted selected dates
    var arrayOfDates = []

    // Function to generate the calendar
    const manipulate = () => {
        // Get the first day of the month
        let dayone = new Date(year, month, 1).getDay();

        // Get the last date of the month
        let lastdate = new Date(year, month + 1, 0).getDate();

        // Get the day of the last date of the month
        let dayend = new Date(year, month, lastdate).getDay();

        // Get the last date of the previous month
        let monthlastdate = new Date(year, month, 0).getDate();

        // Variable to store the generated calendar HTML
        let lit = "";

        // Loop to add the last dates of the previous month
        for (let i = dayone; i > 0; i--) {
            if (month - 1 == -1) {
                tmpMonth = 12
                tmpYear = year - 1
            } else {
                tmpMonth = month
                tmpYear = year
            }
            lit +=
                `<li class="inactive" id="inactive_${tmpYear}/${tmpMonth}/${monthlastdate - i + 1}"> ${monthlastdate - i + 1}</li>`;
        }

        // Loop to add the dates of the current month
        for (let i = 1; i <= lastdate; i++) {

            // Check if the current date is today
            /*let isToday = i === date.getDate()
                && month === new Date().getMonth()
                && year === new Date().getFullYear()
                ? "active"
                : "";*/
            /* if (selectedArrayOfDates.length >= 2)
                 selectedArrayOfDates = []*/
            //var id = i + (month * 2) + year
            //console.log(month)
            //lit += `<li id='${i}' style='background-color: rgba(255, 255, 255, .5); border-radius: 15%;' onclick = 'toggleActiveElement(${i}, ${month}, ${year})'>${i}</li>`
            lit += `<li id='${year}/${month + 1}/${i}' style='background-color: rgba(255, 255, 255, .5); border-radius: 15%;' >${i}</li>`

        }

        // Loop to add the first dates of the next month
        for (let i = dayend; i < 6; i++) {
            if (month + 2 == 13) {
                tmpMonth = 1
                tmpYear = year + 1
            } else {
                tmpMonth = month + 2
                tmpYear = year
            }
            lit += `<li class="inactive" id="inactive_${tmpYear}/${tmpMonth}/${i - dayend + 1}">${i - dayend + 1}</li>`
        }

        // Update the text of the current date element 
        // with the formatted current month and year
        currdate.innerText = `${months[month]} ${year} `;

        // update the HTML of the dates element 
        // with the generated calendar
        day.innerHTML = lit;
        calendarItems = document.querySelectorAll('.calendar-dates>li')

        setDatesThatHaveEvents()
    }

    function findCurrentList() {
        for (var i = 1; i <= lastdate; i++) {

            console.log(document.getElementById(`${i}`))
        }
    }

    /*function toggleActiveElement(day, month, year) {
        var selectedDate = new Date(year, month, day)
        if (document.getElementById(day).classList.contains("active")) {
            document.getElementById(day).classList.remove("active")
            document.getElementById(day).style = "background-color: rgba(255, 255, 255, .5); border-radius: 15%;"
            if (selectedArrayOfDates.length == 1)
                selectedArrayOfDates.pop()
            else if (selectedArrayOfDates.length > 1)
                selectedArrayOfDates = selectedArrayOfDates.filter((data) => data.id !== selectedDate)
        }
        else if (document.getElementById(day).classList.length == 0) {
            if (selectedArrayOfDates.length == 0)
                selectedArrayOfDates.push({ "id": selectedDate })
            else if (selectedArrayOfDates.length == 1)
                selectedArrayOfDates.push({ "id": selectedDate })
            else if (selectedArrayOfDates.length > 1)
                return
            document.getElementById(day).classList.add("active")
        } else if (document.getElementById(day).getAttribute("class").contains("active")) {
            //document.getElementById(day+month+year).setAttribute("class", "")
            //listOfSelected = listOfSelected.filter((filterout) => filterout !== day)
            arrayOfDates = []
        } else if (document.getElementById(day).getAttribute("class") >= "has-an-event") {
            document.getElementById(day).setAttribute("class", "has-an-event")
        }
        if (selectedArrayOfDates.length > 0 && !divToAddSubmitTo.contains(btnToAddEvent)
            && !divToAddSubmitTo.contains(txtAreaToAddEvent)
            && !divToAddSubmitTo.contains(titleInputToAddEvent)) {
            divToAddSubmitTo.append(titleInputToAddEvent)
            divToAddSubmitTo.append(txtAreaToAddEvent)
            divToAddSubmitTo.append(btnToAddEvent)
        } else if (selectedArrayOfDates.length === 0 && divToAddSubmitTo.contains(btnToAddEvent)
            && divToAddSubmitTo.contains(txtAreaToAddEvent)
            && divToAddSubmitTo.contains(titleInputToAddEvent)) {
            divToAddSubmitTo.removeChild(titleInputToAddEvent)
            divToAddSubmitTo.removeChild(btnToAddEvent)
            divToAddSubmitTo.removeChild(txtAreaToAddEvent)
        }*/
    /*selectedArrayOfDates = selectedArrayOfDates.sort((a, b) => a.id - b.id)
    selectedArrayOfDates[0] ?
        document.getElementById("selectedDateStart").innerHTML = "Start day: " + selectedArrayOfDates[0].id
        :
        document.getElementById("selectedDateStart").innerHTML = ""
    selectedArrayOfDates[1] ?
        document.getElementById("selectedDateEnd").innerHTML = "End day: " + selectedArrayOfDates[1].id
        :
        document.getElementById("selectedDateEnd").innerHTML = ""*/
    //}

    function currentSelectedDate() {
        var monthYear = currdate.innerHTML.split(" ")

        listOfSelected.forEach(element => {
            arrayOfDates.push(monthYear[0] + " " + element + ", " + monthYear[1])
        });
        arrayOfDates = arrayOfDates.filter((item, index) => arrayOfDates.indexOf(item) === index)


    }
    function eventDatePicker() {
        var selectedStartDate = new Date(Number(startDateYearPicker.value.split("_")[1]), Number(startDateMonthPicker.value.split("_")[1]), Number(startDateDayPicker.value.split("_")[1]))
        var selectedEndDate = new Date(Number(endDateYearPicker.value.split("_")[1]), Number(endDateMonthPicker.value.split("_")[1]), Number(endDateDayPicker.value.split("_")[1]))
        finalStartDate = selectedStartDate

        if (selectedStartDate.toDateString() !== selectedEndDate.toDateString())
            finalEndDate = selectedEndDate
        if (document.getElementById('warning_text').innerHTML.length < 1 && !divToAddSubmitTo.contains(btnToAddEvent)
            && !divToAddSubmitTo.contains(txtAreaToAddEvent)
            && !divToAddSubmitTo.contains(titleInputToAddEvent)) {

            divToAddSubmitTo.append(titleInputToAddEvent)
            divToAddSubmitTo.append(txtAreaToAddEvent)
            divToAddSubmitTo.append(btnToAddEvent)
        } else if (document.getElementById('warning_text').innerHTML.length > 0 && divToAddSubmitTo.contains(btnToAddEvent)
            && divToAddSubmitTo.contains(txtAreaToAddEvent)
            && divToAddSubmitTo.contains(titleInputToAddEvent)) {
            divToAddSubmitTo.removeChild(titleInputToAddEvent)
            divToAddSubmitTo.removeChild(btnToAddEvent)
            divToAddSubmitTo.removeChild(txtAreaToAddEvent)
        }
    }

    manipulate();

    // Attach a click event listener to each icon
    prenexIcons.forEach(icon => {

        // When an icon is clicked
        icon.addEventListener("click", () => {
            // Check if the icon is "calendar-prev"
            // or "calendar-next"
            month = icon.id === "calendar-prev" ? month - 1 : month + 1;
            // Check if the month is out of range
            if (month < 0 || month > 11) {

                // Set the date to the first day of the 
                // month with the new year
                date = new Date(year, month, new Date().getDate());

                // Set the year to the new year
                year = date.getFullYear();

                // Set the month to the new month
                month = date.getMonth();

            } else {

                // Set the date to the current date
                date = new Date();
            }
            calendarItems = document.querySelectorAll('.calendar-dates>li')
            setDatesThatHaveEvents()
            // Call the manipulate function to 
            // update the calendar display
            manipulate();
        });
    });

</script>

</html>