<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="assets/manifest.json" />
    <link rel="manifest" href="assets/manifest.webmanifest" />
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-css.css" rel="stylesheet">
    <link href="css/font-css.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--<script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
            <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>-->
    <script src="js/htmx.min.js"></script>
    <script src="js/htmx_json-enc.js"></script>


    <title>The Family Loop - Group Chat</title>
</head>

<body>
    <div class="spinner-indicator" id="loadingspinner"
        style="width: 100%; height: 100%; background-color: rgb(197, 197, 197);">

        <img width="90px" height="90px" class="spinner-indicator" src="assets/LoadingSpinner.png" />
    </div>

    <img id="bannerimg" src="assets/TFLBannerW.png" alt="Welcome to TFL!"
        style="text-align: center; width: 35dvw; left: 50dvw;" />
    <div id="anchor">

    </div>

    <div class="modal" tabindex="-1" id="editOrDeleteModal" aria-labelledby="editOrDeleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3 border-0 customModalTrans" id="editOrDeleteModalContent">
                <div class="modal-header" style="display: block;">
                    <h4 class="modal-title" style="text-align: center;">Edit or delete</h4>
                </div>

                <div style="text-align: center;">
                    <div style="display: grid; " class="my-1">
                        <input name="usernameinput" id="currentChatMessage" />
                        <button id="changePfpSubmitBtn" class="btn btn-success col my-2" hx-post="/update-selected-chat"
                            hx-on::after-request="editOrDeleteModal.hide()" hx-ext="json-enc" hx-trigger="click"
                            hx-vals="js:{'newMessage': document.getElementById('currentChatMessage').value, 'selectedChatId': selectedChatId}"
                            hx-swap="none" style="padding-top: 2%; width: 50%; margin-left: 25%;">change</button><br />
                    </div>
                    <p style="text-align: center; color: rgba(58, 58, 58, 0.776);">-----------------------------------
                    </p><br />
                    <button type="button" class="btn btn-danger px-5 my-1"
                        hx-on::after-request="editOrDeleteModal.hide()"
                        hx-confirm="This will permanently delete this message. Do you want to continue?"
                        hx-trigger="click" hx-post="/delete-selected-chat"
                        hx-vals="js:{'selectedChatId': selectedChatId}" hx-ext="json-enc" hx-swap="none">delete</button>
                </div>

            </div>
        </div>
    </div>
    <div id="showthemebtn" style="display: block; text-align: center;">
        <button type="button" onclick="showThemePanel()" class="btn btn-dark border-0 btn-sm"
            style="box-shadow: 3px 3px 6px;">Change Theme</button>
        <button id="changeChatOrderOptBtn" type="button" hx-ext="json-enc" hx-post="/change-gchat-order-opt"
            hx-vals="js:{'order_option': !gchatOrderOpt, 'username': username}"
            hx-on::after-request="document.dispatchEvent(new Event('DOMContentLoaded'))" hx-swap="none"
            hx-trigger="click" class="btn btn-dark border-0 btn-sm" style="box-shadow: 3px 3px 6px;"><i
                class="bi bi-arrow-down-circle"></i></button>
        <button id="subscribeToThisThreadBtn" hx-post="/change-if-notified-for-thread"
            hx-vals="js:{'username': username, 'curThread': document.getElementById('threadSelector').value, 'currentlyNotifiedVal': !isCurUserSubbed}"
            hx-swap="none" hx-ext="json-enc"
            hx-on::after-request="document.dispatchEvent(new Event('DOMContentLoaded'))" type="button"
            class="btn btn-dark border-0 my-1 btn-sm" style="box-shadow: 3px 3px 6px;">Get
            thread's notifications&nbsp;<i class="bi bi-bell-fill"></i></button>
    </div>

    <div id="themepanel" style="display: none; text-align: center;">
        <h3>Change background color</h3>
        <input style="width: 25%" class="px-3 mx-1" type="color" oninput="setBgLeftVal()" id="leftsidethemeinput" />
        <input style="width: 25%" class="px-3 mx-1" type="color" oninput="setBgRightVal()" id="rightsidethemeinput" />
        <input style="width: 25%" class="px-3 mx-1" type="range" oninput="setGradPercent()" id="gradientpercentinput"
            min="0" max="100" step="1" /><br />
        <button type="button" onclick="submitTheme()" class="btn btn-dark border-0 btn-sm"
            style="box-shadow: 3px 3px 6px;">save theme</button>
        <button type="button" onclick="showThemePanel()" class="btn btn-dark border-0 btn-sm"
            style="box-shadow: 3px 3px 6px;">close</button>
    </div>
    <div id="addDelThreadBtn" class="text-center my-2">
        <label for="threadSelector">Chat Thread:</label>
        <select id="threadSelector" hx-get="/get-open-threads"
            hx-on::after-request="document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))"
            hx-swap="beforeend" hx-trigger="load"
            onchange="{document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent')); checkIfSubbed(); checkIfDeletable()}"
            name="threadSelector"
            style="padding: 5px; border: 0; border-radius: 8px / 8px; box-shadow: 3px 3px 7px white;">
        </select>
        <button id="delThreadBtn" class="btn btn-danger" hx-post="/del-thread" hx-ext="json-enc"
            hx-vals="js:{'threadToDel': document.getElementById('threadSelector').value}"
            hx-on::after-request="window.location.reload()" hx-indicator="#loadingspinner" hx-swap="none"
            hx-confirm="This will delete the thread and all chats associated forever. Are you sure you want to delete it?"
            style="border-radius: 27px / 27px; display: none;" hx-trigger="click">X</button>
    </div>
    <div id="prependhere">
        <div style="display: inline-flex; justify-content: center; width: 100dvw"><button id="loadMoreBtnTrue"
                onclick="{limitVal+=15; document.getElementById('loadGChathere').dispatchEvent(new Event('limitChange'))}"
                class="btn btn-dark border-0 btn-sm w-20" style="box-shadow: 3px 3px 6px; display: none">load older
                messages</button></div>
    </div>
    <div id="loadGChathere" hx-get="/group-chat-messages"
        hx-vals="js:{'threadval': document.getElementById('threadSelector').value, 'order_option': gchatOrderOpt, 'limit': limitVal}"
        hx-trigger="afterThreadSelectorLoadsEvent, every 3s, success-send from:#messageform, limitChange"
        class="border-1 d-block m-2" style="justify-content: center; text-align: center; border-radius: 1%;">

    </div>
    <div id="appendhere">
        <div style="display: inline-flex; justify-content: center; width: 100dvw"><button id="loadMoreBtnFalse"
                onclick="{limitVal+=15; document.getElementById('loadGChathere').dispatchEvent(new Event('limitChange'))}"
                class="btn btn-dark border-0 btn-sm w-20" style="box-shadow: 3px 3px 6px; display: none">load
                older messages</button></div>
    </div>
    <div id="orderDependentDiv">

        <div class="modal customModalTrans" id="newThreadModal">
            <div class="modal-dialog">
                <div class="modal-content p-3 my-1 text-center"
                    style="background-color: rgb(250 250 250 / 85%); box-shadow: 8px 10px 14px;">
                    <div class="modal-header text-center">
                        <h3>New thread:</h3>
                    </div>
                    <input id="newThreadNameInput" class="m-2" type="text" maxlength="32" placeholder="My thread!" />
                    <button class="btn btn-success m-2" data-bs-dismiss="modal"
                        onclick="createNewThread()">create</button>
                </div>
            </div>
        </div>
        <form hx-post="/create-a-group-chat-message" hx-swap="afterend" hx-target="this" id="messageform"
            hx-on::after-request="clearFormGetMessages()"
            hx-vals="js:{'taggedUser': [taggedUser], 'threadval': document.getElementById('threadSelector').value}">
            <div class="d-flex" style="justify-content: center;">
                <div class="container border-1">
                    <div id="popovermain" style="display: none; justify-content: center;" class="popover row"
                        role="tooltip">
                        <h3 class="popover-header">tag user</h3>
                        <div id="popbody">

                        </div>

                    </div>
                    <div class="row" style="justify-content: center; margin-top: 1%;">
                        <input class="col-8 my-0 border-0 text-center"
                            style="border-radius: 18px / 18px; width: 75%; box-shadow: 3px 3px 5px" name="gchatmessage"
                            id="gchatinput" type="text" oninput="checkForTagging()" placeholder="Enter message" required
                            maxlength="420" />
                        <button type="submit" class="col-2 mx-2 border-0 btn btn-success"
                            style="border-radius: 18px / 18px; box-shadow: 3px 3px 5px black;"><i
                                class="bi bi-send"></i></button>
                    </div>

                </div>
            </div>
        </form>
        <div class="row w-100" style="justify-content: center; text-align: center; margin-bottom: 5%; margin-top: 1%;">
            <p id="threadPostingTo">loading...</p>
            <button data-bs-toggle="modal" data-bs-target="#newThreadModal" class="btn border-0"
                style="border-radius: 14px / 14px; color: antiquewhite; box-shadow: 1px 1px 3px; background-color: rgb(50 50 50); width: 60%;">Create
                a new
                chat thread!</button>
        </div>
    </div>

    <script>
        var leftSideVal = null
        var rightSideVal = null
        var gradPercent = null

        var selectedChatId = null
        var gchatOrderOpt = true
        var limitVal = 35
        var isCurUserSubbed = null

        const editOrDeleteModal = new bootstrap.Modal(document.getElementById('editOrDeleteModal'), {})

        const subscribeToThreadBtn = document.getElementById('subscribeToThisThreadBtn')

        const delThreadBtn = document.getElementById('delThreadBtn')

        var usersSubbedThreads = []

        document.addEventListener("DOMContentLoaded", async () => {
            usersSubbedThreads = []

            curUserData = await fetchSeshDetails(document.cookie.split("session_id=")[1])
            document.body.setAttribute('style', curUserData.BGtheme)
            gchatOrderOpt = curUserData.GchatOrderOpt


            leftSideVal = document.body.getAttribute("style").split("background: linear-gradient(142deg, ")[1].split(",")[0]
            rightSideVal = document.body.getAttribute("style").split("background: linear-gradient(142deg, " + leftSideVal + ",")[1].split(" ", 2)[1]
            gradPercent = document.body.getAttribute("style").split("background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " ")[1].split("%")[0]
            document.getElementById('editOrDeleteModalContent').style.background = "linear-gradient(142deg, #ffffff, " + leftSideVal + " 130%)"
            document.getElementById('leftsidethemeinput').value = leftSideVal
            document.getElementById('rightsidethemeinput').value = rightSideVal
            document.getElementById('gradientpercentinput').value = gradPercent

            if (gchatOrderOpt) {
                document.getElementById('appendhere').append(document.getElementById('orderDependentDiv'))
                document.getElementById('changeChatOrderOptBtn').innerHTML = '<i class="bi bi-arrow-down-circle"></i>'
                document.getElementById('loadMoreBtnFalse').style.display = "none"
                document.getElementById('loadMoreBtnTrue').style.display = "block"
            } else {
                document.getElementById('prependhere').prepend(document.getElementById('orderDependentDiv'))
                document.getElementById('changeChatOrderOptBtn').innerHTML = '<i class="bi bi-arrow-up-circle"></i>'
                document.getElementById('loadMoreBtnFalse').style.display = "block"
                document.getElementById('loadMoreBtnTrue').style.display = "none"
            }

            const subthreadsresp = await fetch("/get-users-subscribed-threads?username=" + username, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            usersSubbedThreadResp = await subthreadsresp.text()
            var arrayOfSubData = usersSubbedThreadResp.split("\n")
            for (var i = 0; i < arrayOfSubData.length - 1; i++) {
                threadVal = arrayOfSubData[i].split(",")[0]
                subbedVal = arrayOfSubData[i].split(",")[1]

                usersSubbedThreads.push({ "thread": threadVal, "is_subbed": subbedVal })

            }

            checkIfDeletable()
            checkIfSubbed()

            document.getElementById("loadGChathere").dispatchEvent(new Event("afterThreadSelectorLoadsEvent"))

        })
        htmx.on("#loadGChathere", "htmx:afterRequest", checkNotified = () => checkIfLoadedFromNotification(event))
        function checkIfLoadedFromNotification(event) {

            if (event.detail.xhr.status == 200) {
                var param = new URL(document.location).searchParams
                if (param.get('thread') && param.get('thread').length >= 1) {

                    for (var i = 0; i < document.getElementById('threadSelector').children.length; i++) {
                        if (document.getElementById('threadSelector').children[i].value == param.get('thread')) {

                            document.getElementById('threadSelector').children[i].selected = true
                            document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))
                            //document.getElementById('threadSelector').children[i].dispatchEvent(new Event("onchange"))
                        }
                    }

                    var messages = document.querySelectorAll("p.col-10")
                    for (var i = 0; i < messages.length; i++) {
                        if (messages[i].innerHTML.includes(param.get('chatMessage'))) {
                            messages[i].scrollIntoView({ behavior: "smooth", inline: "center" })
                            window.history.pushState({}, document.title, "/" + "groupchat")
                            document.getElementById('loadGChathere').removeEventListener("htmx:afterRequest", checkNotified)
                        } else {
                            document.getElementById('loadGChathere').removeEventListener("htmx:afterRequest", checkNotified)
                        }
                    }
                }
                //console.log(param.get('chatMessage'))
                //console.log(param.get('thread'))
            } else if (event.detail.xhr.status == 409) {
                alert("You cannot create a thread with this name")
            }
        }
        function checkIfSubbed() {

            selectedThread = usersSubbedThreads.filter((data) => data.thread == document.getElementById('threadSelector').value)
            if (selectedThread.length === 1) {

                if (selectedThread[0].is_subbed == 'true') {
                    document.getElementById('subscribeToThisThreadBtn').innerHTML = "disable thread\'s notifications" + "&nbsp;<i class='bi bi-bell-fill' ></i>"
                    isCurUserSubbed = true
                } else if (selectedThread[0].is_subbed == 'false') {

                    document.getElementById('subscribeToThisThreadBtn').innerHTML = "Get thread\'s notifications" + "&nbsp;<i class='bi bi-bell-fill' ></i>"
                    isCurUserSubbed = false
                }
            } else {
                document.getElementById('subscribeToThisThreadBtn').innerHTML = "Get thread\'s notifications" + "&nbsp;<i class='bi bi-bell-fill' ></i>"
                isCurUserSubbed = false
            }
        }
        function checkIfDeletable() {
            if (document.querySelector('option[value="' + document.getElementById('threadSelector').value + '"]').id == username)
                document.getElementById('delThreadBtn').style.display = "inline"
            else
                document.getElementById('delThreadBtn').style.display = "none"
        }
        function setBgLeftVal() {
            leftSideVal = document.getElementById('leftsidethemeinput').value
            document.body.setAttribute("style", "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " " + gradPercent + "%)")
        }
        function setBgRightVal() {
            rightSideVal = document.getElementById('rightsidethemeinput').value
            document.body.setAttribute("style", "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + "  " + gradPercent + "%)")
        }
        function setGradPercent() {
            gradPercent = document.getElementById('gradientpercentinput').value
            document.body.setAttribute("style", "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " " + gradPercent + "%)")
        }
        document.getElementById('loadGChathere').addEventListener("afterThreadSelectorLoadsEvent", () => {
            document.getElementById('threadPostingTo').innerHTML = "Posting to: " + document.getElementById('threadSelector').value
        })
        async function submitTheme() {
            const resp = await fetch("/update-gchat-bg-theme", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ theme: "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " " + gradPercent + "%)", username })
            }).then(() => {
                showThemePanel()
            })
        }

        function showThemePanel() {
            if (document.getElementById('showthemebtn').style.display.includes("block") && document.getElementById('themepanel').style.display.includes("none")) {
                document.getElementById('showthemebtn').style.display = "none"
                document.getElementById('themepanel').style.display = "block"
            } else {
                document.getElementById('showthemebtn').style.display = "block"
                document.getElementById('themepanel').style.display = "none"
            }
        }

        async function editOrDeleteChat(chatId) {
            const resp = await fetch("/get-selected-chat?chatid=" + chatId, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            const data = await resp.json()
            document.getElementById('currentChatMessage').value = data
            selectedChatId = chatId
            editOrDeleteModal.show()
        }

        const jsWorker = new Worker("js/worker.js")
        var listOfUsersArr = []
        var taggedUser = []
        var newInput = ""
        async function checkForTagging() {
            newInput = document.getElementById('gchatinput').value
            for (var i = 0; i < taggedUser.length; i++) {
                newInput = newInput.replace(taggedUser[i], "")
            }

            if (newInput.includes('@') && newInput.split('@')[1] > '') {

                const resp = await fetch("/get-all-users-to-tag?user=" + newInput.split('@')[1], {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                listOfUsersArr = await resp.json()
                if (listOfUsersArr != null) {
                    var userStr = ""
                    listOfUsersArr.forEach((item) => {
                        userStr += `<p onclick=selectTaggedUser('${item}') id='${item}'>${item}</p>`
                        document.getElementById('popbody').innerHTML = userStr

                    })

                } else {
                    document.getElementById('popbody').innerHTML = "No user found..."
                }

                document.getElementById('popovermain').setAttribute("style", "display: block; width: 50%; margin-left: 25%")

            } else {
                document.getElementById('popovermain').setAttribute("style", "display: none")
            }
        }
        function selectTaggedUser(username) {
            //document.getElementById('gchatinput').removeAttribute('oninput')
            document.getElementById('gchatinput').focus()
            taggedUser.push(username)
            //taggedUser = ""
            document.getElementById('gchatinput').value = document.getElementById('gchatinput').value.replace('@'.concat(newInput.split('@')[1]), username)
            document.getElementById('popovermain').setAttribute("style", "display: none")
        }
        function clearFormGetMessages() {
            document.getElementById('gchatinput').value = ""
            taggedUser = []
            document.getElementById('gchatinput').setAttribute('oninput', "checkForTagging()")
        }
        function createNewThread() {
            if (document.getElementById('newThreadNameInput').value.length > 1) {
                testStr = "test"
                if (document.getElementById('newThreadNameInput').value.toLowerCase() == 'posts') {
                    alert("cannot make a thread with this name")
                    return
                }
                var newOption = document.createElement("option")
                newOption.setAttribute("value", document.getElementById('newThreadNameInput').value)
                newOption.innerHTML = document.getElementById('newThreadNameInput').value
                document.getElementById('threadSelector').append(newOption)
                newOption.selected = true
                document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))
            } else {
                alert("Not a valid thread name")
            }
        }
        htmx.on('#messageform', 'htmx:afterRequest', function (event) {
            event.detail.xhr.status === 401
                && alert("Please login first.")
        })
    </script>
</body>


</html>