<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="assets/manifest.json" />
    <title>The Family Loop - Group Chat</title>
</head>

<body style="height: 100%" id="gchatBody">
    <div id="blurredback" style="height: 100dvh; width: 100dvw; position: absolute; z-index: -5;">

    </div>
    <div id="reactionsdiv"
        style="display: none; background-color: rgba(205, 205, 205, .25); width: fit-content; border-radius: 13px 13px 13px 13px; margin: auto;">
        <p onclick="sendPChatReaction(event)" class="p-1 my-0 mx-1">&#128077;</p>
        <p onclick="sendPChatReaction(event)" class="p-1 my-0 mx-1">&#128151;</p>
        <p onclick="sendPChatReaction(event)" class="p-1 my-0 mx-1">&#128514;</p>
        <p onclick="sendPChatReaction(event)" class="p-1 my-0 mx-1">&#128545;</p>
        <p onclick="sendPChatReaction(event)" class="p-1 my-0 mx-1">&excl;</p>
        <p onclick="sendPChatReaction(event)" class="p-1 my-0 mx-1">&#10067;</p>
    </div>
    <div>
        <button id="toggleDirectOrThreads" type="button" class="btn btn-dark border-0 btn-sm"
            style="box-shadow: 3px 3px 6px; position: absolute; top: 0; right: 0; margin-right: .5rem; margin-top: .5rem; z-index: 5;"
            onclick="toggledChatMethod()">Direct
            Chats</button>
    </div>
    <div class="spinner-indicator" id="loadingspinner"
        style="width: 100%; height: 100%; background-color: rgb(197, 197, 197);">

        <img width="90px" height="90px" class="spinner-indicator" src="assets/LoadingSpinner.png" />
    </div>

    <img id="bannerimg" src="assets/TFLBannerW.png" alt="Welcome to TFL!" style="text-align: center;" />
    <div id="anchor">

    </div>

    <div class="modal" tabindex="-1" id="editOrDeleteModal" aria-labelledby="editOrDeleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3 border-0 customModalTrans" id="editOrDeleteModalContent">
                <div class="modal-header p-1" style="display: block;">
                    <h4 class="modal-title" style="text-align: center;">Edit or delete</h4>
                </div>

                <div style="text-align: center;">
                    <div style="display: grid; " class="my-1">
                        <input name="usernameinput" id="currentChatMessage"
                            style="border-radius: 15px / 15px; border-width: 0; box-shadow: 1px 1px 4px; margin-top: 1%;" />
                        <button id="updateChatButton" class="btn btn-success col my-2" hx-post="/update-selected-chat"
                            hx-on::after-request="{editOrDeleteModal.hide(); document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent')); document.getElementById('loadPChatHere').dispatchEvent(new Event('loadFromThread'))}"
                            hx-ext="json-enc" hx-trigger="click"
                            hx-vals="js:{'newMessage': document.getElementById('currentChatMessage').value, 'selectedChatId': selectedChatId}"
                            hx-swap="none"
                            style="padding-top: 2%; width: 50%; margin-left: 25%; box-shadow: 2px 2px 5px black">change</button>
                    </div>
                    <p style="text-align: center; color: rgba(58, 58, 58, 0.776);">-----------------------------------
                    </p>
                    <button id="delSelectedChatBtn" type="button" class="btn btn-danger px-5 my-1"
                        style="box-shadow: 2px 2px 5px black" hx-on::after-request="editOrDeleteModal.hide()"
                        hx-confirm="This will permanently delete this message. Do you want to continue?"
                        hx-trigger="click" hx-post="/delete-selected-chat"
                        hx-on::after-request="{document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent')); document.getElementById('loadPChatHere').dispatchEvent(new Event('loadFromThread'))}"
                        hx-vals="js:{'selectedChatId': selectedChatId}" hx-ext="json-enc" hx-swap="none">delete</button>
                </div>

            </div>
        </div>
    </div>

    <div id="showthemebtn"
        style="display: flex; text-align: center; width: 60dvw; margin: auto; justify-content: space-evenly;">
        <button type="button" onclick="showThemePanel()" class="btn btn-dark border-0 btn-sm"
            style="box-shadow: 3px 3px 6px;">Change Theme</button>

        <button id="changeChatOrderOptBtn" type="button" hx-ext="json-enc" hx-post="/change-gchat-order-opt"
            hx-vals="js:{'order_option': !gchatOrderOpt, 'username': username}"
            hx-on::after-request="document.dispatchEvent(new Event('DOMContentLoaded'))" hx-swap="none"
            hx-trigger="click" class="btn btn-dark border-0 btn-sm" style="box-shadow: 3px 3px 6px;"><i
                class="bi bi-arrow-down-circle"></i></button>
        <form hx-post="/change-if-notified-for-thread"
            hx-vals="js:{'username': username, 'curThread': document.getElementById('threadSelector').value, 'currentlyNotifiedVal': !isCurUserSubbed}"
            hx-swap="none" hx-ext="json-enc" hx-trigger="click from:#notifycheckbox"
            hx-on::after-request="document.dispatchEvent(new Event('DOMContentLoaded'))">
            <p id="subscribeCheckbox" type="button" class="btn btn-dark border-0 my-1 btn-sm"
                style="box-shadow: 3px 3px 6px; display: inline-flex; align-items: center;"><i
                    class="bi bi-bell-fill mx-1"></i><input class="mx-1" type="checkbox" name="threadCheckbox"
                    id="notifycheckbox"
                    onclick="!isCurUserSubbed ? nowReceivingMessageBubble.style.animationName = 'animateInFromTop' ? nowReceivingMessageBubble.style.animation = 'animateInFromTop 4s ease-in-out' : nowReceivingMessageBubble.style.animation = 'animateInFromTopAgain 4s ease-in-out' : nowReceivingMessageBubble.style.animation = ''" />
            </p>
        </form>
    </div>

    <div id="themepanel" style="display: none; text-align: center;">
        <h3>Change background color</h3>
        <input style="width: 25%" class="px-3 mx-1" type="color" oninput="setBgLeftVal()" id="leftsidethemeinput" />
        <input style="width: 25%" class="px-3 mx-1" type="color" oninput="setBgRightVal()" id="rightsidethemeinput" />
        <input style="width: 25%" class="px-3 mx-1" type="range" oninput="setGradPercent()" id="gradientpercentinput"
            min="0" max="100" step="1" /><br />
        <button type="button" onclick="submitTheme()" class="btn btn-dark border-0 btn-sm"
            style="box-shadow: 3px 3px 6px;">save theme</button>
        <button type="button" onclick="showThemePanel()" class="btn btn-dark border-0 btn-sm"
            style="box-shadow: 3px 3px 6px;">close</button>
    </div>
    <div id="addDelThreadBtn" class="text-center my-2">
        <select id="threadSelector" hx-get="/get-open-threads"
            hx-on::after-request="document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))"
            hx-swap="beforeend" hx-trigger="load"
            onchange="{document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent')); checkIfSubbed(); checkIfDeletable(); updateThreadsSelector()}"
            name="threadSelector"
            style="padding: 5px; border: 0; border-radius: 8px / 8px; box-shadow: 3px 3px 7px white;">
        </select>
        <button id="delThreadBtn" class="btn btn-danger" hx-post="/del-thread" hx-ext="json-enc"
            hx-vals="js:{'threadToDel': document.getElementById('threadSelector').value}"
            hx-on::after-request="window.location.reload()" hx-indicator="#loadingspinner" hx-swap="none"
            hx-confirm="This will delete the thread and all chats associated forever. Are you sure you want to delete it?"
            style="border-radius: 27px / 27px; display: none;" hx-trigger="click">X</button>
    </div>
    <div id="prependhere">
        <div style="display: inline-flex; justify-content: center; width: 100dvw"><button id="loadMoreBtnTrue"
                onclick="{limitVal+=15; document.getElementById('loadGChathere').dispatchEvent(new Event('limitChange'))}"
                class="btn btn-dark border-0 btn-sm w-20 my-1" style="box-shadow: 3px 3px 6px; display: none">load older
                messages</button></div>
    </div>
    <div id="loadGChathere" hx-get="/group-chat-messages"
        hx-vals="js:{'threadval': document.getElementById('threadSelector').value, 'order_option': gchatOrderOpt, 'limit': limitVal}"
        hx-on::after-request="countOfMessages(event)"
        hx-trigger="afterThreadSelectorLoadsEvent, success-send from:#messageform, limitChange"
        class="border-1 d-block m-2" style="justify-content: center; text-align: center; border-radius: 1%;">

    </div>
    <div id="loadPChatHere" hx-get="/private-chat-messages" hx-target="this" hx-on::after-request="loadHandleClickOp()"
        hx-vals="js:{'userToSendTo': document.getElementById('privateThreadSelector').value, 'order_option': gchatOrderOpt, 'limit': limitVal}"
        hx-trigger="load, loadFromThread" hx-on::after-request="countOfMessages(event)" class="border-1 d-block m-2"
        style="justify-content: center; text-align: center; border-radius: 1%;">
        click me
    </div>
    <div id="appendhere">
        <div style="display: inline-flex; justify-content: center; width: 100dvw"><button id="loadMoreBtnFalse"
                onclick="{limitVal+=15; document.getElementById('loadGChathere').dispatchEvent(new Event('limitChange'))}"
                class="btn btn-dark border-0 btn-sm w-20 my-1" style="box-shadow: 3px 3px 6px; display: none">load
                older messages</button></div>
    </div>
    <div id="orderDependentDiv">

        <div class="modal customModalTrans" id="newThreadModal">
            <div class="modal-dialog">
                <div class="modal-content p-3 my-1 text-center"
                    style="background-color: rgb(250 250 250 / 85%); box-shadow: 8px 10px 14px;">
                    <div class="modal-header text-center">
                        <h3>New thread:</h3>
                    </div>
                    <input id="newThreadNameInput" class="m-2" type="text" maxlength="32" placeholder="My thread!" />
                    <button class="btn btn-success m-2" data-bs-dismiss="modal"
                        onclick="createNewThread()">create</button>
                </div>
            </div>
        </div>
        <div id="groupchatonlydiv">
            <form hx-post="/create-a-group-chat-message" hx-swap="afterend" hx-target="this" id="messageform"
                hx-on::after-request="clearFormGetMessages()"
                hx-vals="js:{'taggedUser': [taggedUser], 'threadval': document.getElementById('threadSelector').value}">
                <div class="d-flex" style="justify-content: center;">
                    <div class="container border-1">
                        <div id="popovermain" style="display: none; justify-content: center;" class="popover row"
                            role="tooltip">
                            <h3 class="popover-header">tag user</h3>
                            <div id="popbody">

                            </div>

                        </div>
                        <div class="row" style="justify-content: center; margin-top: 1%;">

                            <textarea class="col-8 my-0 border-0 text-center"
                                style="border-radius: 18px / 18px; width: 75%; box-shadow: 3px 3px 5px"
                                name="gchatmessage" id="gchatinput" role="text" rows="1"
                                oninput="{checkForTagging(); this.style.height = Math.min(this.scrollHeight, 75) + 'px';}"
                                placeholder="Enter message" required maxlength="420"
                                onkeypress="submitCreateGChatMessage(event)"></textarea>
                            <button type="submit" class="col-2 mx-2 border-0 btn btn-success"
                                style="border-radius: 18px / 18px; box-shadow: 3px 3px 5px black;"><i
                                    class="bi bi-send"></i></button>
                        </div>

                    </div>
                </div>
            </form>
            <div class="row w-100" style="justify-content: center; text-align: center; margin-top: 1%;">
                <p id="threadPostingTo">loading...</p>
                <button data-bs-toggle="modal" data-bs-target="#newThreadModal" class="btn border-0"
                    style="border-radius: 14px / 14px; color: antiquewhite; box-shadow: 1px 1px 3px; background-color: rgb(50 50 50); width: 60%;">Create
                    a new
                    chat thread!</button>
            </div>
        </div>
        <div id="dmchatonlydiv">

            <select id="privateThreadSelector" hx-get="/get-users-chat"
                style="width: 60dvw; margin: auto; display: flex; margin-top: .5rem; margin-bottom: .5rem; border-style: none; border-radius: 5px 5px 5px 5px; box-shadow: 1px 2px 5px white; padding: 5px"
                hx-trigger="load" onchange="setLastOpenedChat()">

            </select>
            <form hx-post="/create-a-private-chat-message" hx-swap="afterend" hx-target="this" id="privatemessageform"
                hx-on::after-request="clearPrivateFormGetMessages()"
                hx-vals="js:{'user_to': document.getElementById('privateThreadSelector').value}">
                <div class="d-flex" style="justify-content: center;">
                    <div class="container border-1">

                        <div class="row" style="justify-content: center; margin-top: 1%;">

                            <textarea class="col-8 my-0 border-0 text-center"
                                style="border-radius: 18px / 18px; width: 75%; box-shadow: 3px 3px 5px"
                                name="privatechatmessage" id="privatechatinput" role="text" rows="1"
                                oninput="{this.style.height = Math.min(this.scrollHeight, 75) + 'px';}"
                                placeholder="Enter message" required maxlength="420"
                                onkeypress="submitCreatePrivateChatMessage(event)"></textarea>
                            <button type="submit" class="col-2 mx-2 border-0 btn btn-success"
                                style="border-radius: 18px / 18px; box-shadow: 3px 3px 5px black;"><i
                                    class="bi bi-send"></i></button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
    <link rel="manifest" href="assets/manifest.webmanifest" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-css.min.css" rel="stylesheet">
    <link href="css/font-css.css" rel="stylesheet">
    <link rel="preload" fetchpriority="high" as="image" href="/assets/TFLBannerW.png" type="image/png">
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/htmx.min.js"></script>
    <script src="js/htmx_json-enc.js"></script>
    <script type="module" src="js/globalFunctions.js"></script>
    <script>


        var leftSideVal = null
        var rightSideVal = null
        var gradPercent = null

        var selectedChatId = null
        var gchatOrderOpt = true
        var limitVal = 35
        var isCurUserSubbed = null

        var currentlySelectedThread = ""
        var curUserDataLastViewed = ""
        var curUserDataLastViewedThread = ""
        var pchatreactid = null
        var listOfPChatReactionEle = []

        function handleClickHold(el, timeout, callback) {
            let startTime;
            const mouseDown = (e) => { e.preventDefault(); (startTime = Date.now()) };
            const mouseUp = (e) => { e.preventDefault(); Date.now() - startTime > timeout && callback(Date.now() - startTime, el) };
            el.addEventListener("pointerdown", mouseDown);
            el.addEventListener("pointerup", mouseUp);
        }

        const timeout = 200
        const callback = (ms, el) => {

            document.getElementById('blurredback').style.animation = 'animateBlur ease-in 200ms forwards'
            el.style.zIndex = "7"
            el.style.position = "relative"
            el.append(document.getElementById('reactionsdiv'))
            pchatreactid = el.id.split('_')[1]
            setTimeout(() => {
                document.getElementById('reactionsdiv').style.display = 'flex'
            }, 150)
            document.getElementById('blurredback').addEventListener('click', () => {
                document.getElementById('blurredback').style.backdropFilter = "blur(0px)"
                document.getElementById('blurredback').style.position = 'absolute'
                document.getElementById('blurredback').style.zIndex = '-5'
                document.getElementById('blurredback').style.animation = ""
                document.getElementById('reactionsdiv').style.display = 'none'
                el.style.zIndex = ""
                el.style.position = ""
                pchatreactid = null
            })
        }

        async function sendPChatReaction(event) {
            var localpchatreactid = pchatreactid
            await fetch("/update-pchat-reaction", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ 'reaction_str': event.target.innerHTML, 'chat_id': localpchatreactid })
            }).then((respdata) => {
                if (respdata.status == 200) {
                    document.getElementById('blurredback').style.backdropFilter = "blur(0px)"
                    document.getElementById('blurredback').style.position = 'absolute'
                    document.getElementById('blurredback').style.zIndex = '-5'
                    document.getElementById('blurredback').style.animation = ""
                    document.getElementById('reactionsdiv').style.display = 'none'
                    document.getElementById('pchatid_' + localpchatreactid).style.zIndex = ""
                    document.getElementById('pchatid_' + localpchatreactid).style.position = ""
                    fetch("/current-pchat-reaction?chatid=" + localpchatreactid, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(async (reactiondata) => {
                        const reactiondataresp = await reactiondata.text()

                        document.getElementById("reactionid_" + localpchatreactid).innerHTML = reactiondataresp
                    }).catch((err) => console.log(JSON.stringify("Err getting: " + err)))
                }

            }).catch((resp) => console.log(JSON.stringify("Err:" + resp)))
            pchatreactid = null
        }

        const editOrDeleteModal = new bootstrap.Modal(document.getElementById('editOrDeleteModal'), {})

        const subscribeToThreadBtn = document.getElementById('subscribeToThisThreadBtn')

        const delThreadBtn = document.getElementById('delThreadBtn')

        function countOfMessages(event) {
            if (event.detail.elt.children.length > 4)
                document.body.style.height = ''
            else
                document.body.style.height = '100%'
        }

        var usersSubbedThreads = []

        var nowReceivingMessage = document.createElement('p')
        var nowReceivingMessageBubble = document.createElement('div')
        nowReceivingMessageBubble.style.position = "absolute"
        nowReceivingMessageBubble.style.display = "block"
        nowReceivingMessageBubble.id = "nowReceivingBubble"
        nowReceivingMessageBubble.style.backgroundColor = "rgb(255 255 255 / 74%)"
        nowReceivingMessageBubble.style.borderRadius = "15px / 15px"
        nowReceivingMessageBubble.style.boxShadow = "3px 3px 5px black"
        nowReceivingMessageBubble.style.padding = "2%"
        nowReceivingMessageBubble.style.top = "-12%"
        nowReceivingMessageBubble.style.width = "80%"
        nowReceivingMessageBubble.style.zIndex = "15"
        nowReceivingMessageBubble.style.marginLeft = "10%"
        nowReceivingMessageBubble.style.textAlign = "center"


        nowReceivingMessage.style.color = "green"
        nowReceivingMessage.style.margin = "0%"
        nowReceivingMessage.style.fontSize = "smaller"
        nowReceivingMessage.innerHTML = "Now receiving notifications for this thread!"
        nowReceivingMessageBubble.append(nowReceivingMessage)
        document.body.append(nowReceivingMessageBubble)

        document.addEventListener("DOMContentLoaded", async () => {

            usersSubbedThreads = []

            curUserData = await fetchSeshDetails()
            document.body.setAttribute('style', curUserData.BGtheme)
            gchatOrderOpt = curUserData.GchatOrderOpt

            curUserDataLastViewed = curUserData.LastViewedPChat.String
            curUserDataLastViewedThread = curUserData.LastViewedThread.String

            if (document.getElementById('toggleDirectOrThreads').innerText.includes('Direct'))
                document.getElementById('dmchatonlydiv').style.display = "none"

            leftSideVal = document.body.getAttribute("style").split("background: linear-gradient(142deg, ")[1].split(",")[0]
            rightSideVal = document.body.getAttribute("style").split("background: linear-gradient(142deg, " + leftSideVal + ",")[1].split(" ", 2)[1]
            gradPercent = document.body.getAttribute("style").split("background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " ")[1].split("%")[0]
            document.getElementById('editOrDeleteModalContent').style.background = "linear-gradient(142deg, #ffffff, " + leftSideVal + " 130%)"
            document.getElementById('leftsidethemeinput').value = leftSideVal
            document.getElementById('rightsidethemeinput').value = rightSideVal
            document.getElementById('gradientpercentinput').value = gradPercent

            if (gchatOrderOpt) {
                document.getElementById('appendhere').append(document.getElementById('orderDependentDiv'))
                document.getElementById('changeChatOrderOptBtn').innerHTML = '<i class="bi bi-arrow-down-circle"></i>'
                document.getElementById('loadMoreBtnFalse').style.display = "none"
                document.getElementById('loadMoreBtnTrue').style.display = "block"
            } else {
                document.getElementById('prependhere').prepend(document.getElementById('orderDependentDiv'))
                document.getElementById('changeChatOrderOptBtn').innerHTML = '<i class="bi bi-arrow-up-circle"></i>'
                document.getElementById('loadMoreBtnFalse').style.display = "block"
                document.getElementById('loadMoreBtnTrue').style.display = "none"
            }

            const subthreadsresp = await fetch("/get-users-subscribed-threads?username=" + username, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            usersSubbedThreadResp = await subthreadsresp.text()
            var arrayOfSubData = usersSubbedThreadResp.split("\n")
            for (var i = 0; i < arrayOfSubData.length - 1; i++) {
                threadVal = arrayOfSubData[i].split(",")[0]
                subbedVal = arrayOfSubData[i].split(",")[1]

                usersSubbedThreads.push({ "thread": threadVal, "is_subbed": subbedVal })

            }
            setTimeout(() => {
                document.getElementById('threadSelector').childNodes.forEach((val) => {
                    if (val.innerText == curUserDataLastViewedThread) {
                        val.setAttribute('selected', 'true')
                        document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))
                    }
                })
                if (document.getElementById('toggleDirectOrThreads').innerText.includes('Direct')) {
                    document.querySelector('option[value="' + document.getElementById('threadSelector').value + '"]') &&
                        document.querySelector('option[value="' + document.getElementById('threadSelector').value + '"]').id &&
                        checkIfDeletable()
                    checkIfSubbed()
                }

            }, 300)
            document.getElementById("loadGChathere").dispatchEvent(new Event("afterThreadSelectorLoadsEvent"))
            currentlySelectedThread = document.getElementById('threadSelector').value

        })
        function loadHandleClickOp() {

            document.querySelectorAll("[id^='pchatid_']").forEach((ele) => {

                handleClickHold(ele, timeout, callback)
            })
        }
        htmx.on("#loadPChatHere", "htmx:afterSettle", async () => {
            if (document.getElementById('toggleDirectOrThreads').innerText.includes("Group")) {
                var curReactionElements = document.querySelectorAll("[id^='reactionid_']")
                var nodeListInArr = [...curReactionElements].map(n => n.id.split("_")[1])

                var newLocalList = nodeListInArr.filter((value) => ![...listOfPChatReactionEle].map(n => n).includes(value))

                const allReactions = await fetch("/all-current-pchat-reaction?touser=" + document.getElementById('privateThreadSelector').value, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(async (respdata) => {
                    const curResp = await respdata.json()

                    var curRespArr = [...curResp].map(d => d.id)
                    var finalList = nodeListInArr.filter((val) => curRespArr.includes(val))
                    for (var i = 0; i < finalList.length; i++) {

                        document.getElementById('reactionid_' + finalList[i]).innerHTML = curResp.filter((val) => val.id === finalList[i])[0].reaction.String

                    }

                }).catch((err) => console.log(JSON.stringify("Err getting: " + err)))
            }

        })


        htmx.on("#loadGChathere", "htmx:afterRequest", checkNotified = () => checkIfLoadedFromNotification(event))
        function checkIfLoadedFromNotification(event) {

            if (event.detail.xhr.status == 200) {
                var param = new URL(document.location).searchParams
                if (param.get('thread') && param.get('thread').length >= 1) {

                    for (var i = 0; i < document.getElementById('threadSelector').children.length; i++) {
                        if (document.getElementById('threadSelector').children[i].value == param.get('thread')) {

                            document.getElementById('threadSelector').children[i].selected = true
                            document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))
                            window.history.pushState({}, document.title, "/" + "groupchat")
                            document.getElementById('loadGChathere').removeEventListener("htmx:afterRequest", checkNotified)
                            //document.getElementById('threadSelector').children[i].dispatchEvent(new Event("onchange"))
                        }
                    }

                    /* var messages = document.querySelectorAll("p.col-10")
                     for (var i = 0; i < messages.length; i++) {
                         if (messages[i].innerHTML.includes(param.get('chatMessage'))) {
                             messages[i].scrollIntoView({ behavior: "smooth", inline: "center" })
                             window.history.pushState({}, document.title, "/" + "groupchat")
                             document.getElementById('loadGChathere').removeEventListener("htmx:afterRequest", checkNotified)
                         } else {
                             document.getElementById('loadGChathere').removeEventListener("htmx:afterRequest", checkNotified)
                         }
                     }*/
                }
                //console.log(param.get('chatMessage'))
                //console.log(param.get('thread'))
            } else if (event.detail.xhr.status == 409) {
                alert("You cannot create a thread with this name")
            }

        }

        function checkIfSubbed() {

            selectedThread = usersSubbedThreads.filter((data) => data.thread == document.getElementById('threadSelector').value)
            if (selectedThread.length === 1) {

                if (selectedThread[0].is_subbed == 'true') {
                    //document.getElementById('subscribeToThisThreadBtn').innerHTML = "disable thread\'s notifications" + "&nbsp;<i class='bi bi-bell-fill' ></i>"

                    document.getElementById('notifycheckbox').checked = true
                    isCurUserSubbed = true
                } else if (selectedThread[0].is_subbed == 'false') {
                    document.getElementById('notifycheckbox').checked = false
                    //document.getElementById('subscribeToThisThreadBtn').innerHTML = "Get thread\'s notifications" + "&nbsp;<i class='bi bi-bell-fill' ></i>"
                    isCurUserSubbed = false
                }
            } else {
                document.getElementById('notifycheckbox').checked = false
                //document.getElementById('subscribeToThisThreadBtn').innerHTML = "Get thread\'s notifications" + "&nbsp;<i class='bi bi-bell-fill' ></i>"
                isCurUserSubbed = false
            }
        }

        function toggledChatMethod() {

            var currentChatMethod = document.getElementById('toggleDirectOrThreads')

            if (currentChatMethod.innerText.includes('Direct')) {

                document.getElementById('privateThreadSelector').childNodes.forEach((val) => {
                    if (val.innerText == curUserDataLastViewed) {
                        val.setAttribute('selected', 'true')
                        document.getElementById('loadPChatHere').dispatchEvent(new Event('load'))
                    }
                })

                currentChatMethod.innerHTML = "Group Chats"
                document.getElementById('groupchatonlydiv').style.display = "none"
                document.getElementById('addDelThreadBtn').style.display = "none"
                currentlySelectedThread = document.getElementById('threadSelector').value
                document.getElementById('threadSelector').value = ''
                document.getElementById('dmchatonlydiv').style.display = ""
                document.getElementById('loadPChatHere').setAttribute('style', 'text-align: center; border-radius: 1%;')
                //document.getElementById('loadPChatHere').setAttribute('hx-trigger', 'load, every 3s, loadFromThread')
                document.getElementById('loadPChatHere').setAttribute('hx-trigger', 'load, loadFromThread')
                document.getElementById('loadGChathere').setAttribute('hx-trigger', 'afterThreadSelectorLoadsEvent, success-send from:#messageform, limitChange')
                htmx.process("#loadPChatHere")
                htmx.process("#loadGChathere")
                document.getElementById('subscribeCheckbox').style.display = "none"
                document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))

            } else if (currentChatMethod.innerText.includes('Group')) {
                currentChatMethod.innerHTML = "Direct Chats"

                document.getElementById('groupchatonlydiv').style.display = ""
                document.getElementById('addDelThreadBtn').style.display = ""
                document.getElementById('dmchatonlydiv').style.display = "none"
                document.getElementById('threadSelector').value = currentlySelectedThread
                //document.getElementById('loadGChathere').setAttribute('hx-trigger', 'afterThreadSelectorLoadsEvent, every 3s, success-send from:#messageform, limitChange')
                document.getElementById('loadGChathere').setAttribute('hx-trigger', 'afterThreadSelectorLoadsEvent, success-send from:#messageform, limitChange')
                document.getElementById('loadPChatHere').setAttribute('hx-trigger', 'load, loadFromThread')
                document.getElementById('loadPChatHere').setAttribute('style', 'display: none !important;')
                document.getElementById('loadPChatHere').innerHTML = ""
                document.getElementById('subscribeCheckbox').style.display = ""
                htmx.process("#loadGChathere")
                htmx.process("#loadPChatHere")
                document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))
                document.getElementById('threadSelector').childNodes.forEach((val) => {
                    if (val.innerText == curUserDataLastViewedThread) {
                        val.setAttribute('selected', 'true')
                        document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))
                    }
                })
            }
        }
        function checkIfDeletable() {

            if (document.querySelector('option[value="' + document.getElementById('threadSelector').value + '"]').id == username)
                document.getElementById('delThreadBtn').style.display = "inline"
            else
                document.getElementById('delThreadBtn').style.display = "none"
        }
        function setBgLeftVal() {
            leftSideVal = document.getElementById('leftsidethemeinput').value
            document.body.setAttribute("style", "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " " + gradPercent + "%)")
        }
        function setBgRightVal() {
            rightSideVal = document.getElementById('rightsidethemeinput').value
            document.body.setAttribute("style", "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + "  " + gradPercent + "%)")
        }
        function setGradPercent() {
            gradPercent = document.getElementById('gradientpercentinput').value
            document.body.setAttribute("style", "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " " + gradPercent + "%)")
        }
        document.getElementById('loadGChathere').addEventListener("afterThreadSelectorLoadsEvent", () => {
            document.getElementById('threadPostingTo').innerHTML = "Posting to: " + document.getElementById('threadSelector').value
        })



        async function setLastOpenedChat() {

            document.getElementById('loadPChatHere').dispatchEvent(new Event('loadFromThread'))
            await fetch("/update-last-viewed-direct", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ "last_viewed": document.getElementById('privateThreadSelector').value })
            }).then((res) => {
                console.log("updated with response: " + JSON.stringify(res))
            }).catch((err) => console.log(err))

        }
        async function updateThreadsSelector() {
            await fetch("/update-last-viewed-thread", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ "last_viewed": document.getElementById('threadSelector').value })
            }).then((res) => {
                console.log("updated with response: " + JSON.stringify(res))
            }).catch((err) => console.log(err))
        }
        async function submitTheme() {
            const resp = await fetch("/update-gchat-bg-theme", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ theme: "background: linear-gradient(142deg, " + leftSideVal + ", " + rightSideVal + " " + gradPercent + "%)", username })
            }).then(() => {
                showThemePanel()
            })
        }

        function showThemePanel() {
            if (document.getElementById('showthemebtn').style.display.includes("flex") && document.getElementById('themepanel').style.display.includes("none")) {
                document.getElementById('showthemebtn').style.display = "none"
                document.getElementById('themepanel').style.display = "block"
            } else {
                document.getElementById('showthemebtn').style.display = "inline-flex"
                document.getElementById('themepanel').style.display = "none"
            }
        }

        async function editOrDeleteChat(chatId) {
            document.getElementById('updateChatButton').setAttribute("hx-post", "/update-selected-chat")
            document.getElementById('delSelectedChatBtn').setAttribute("hx-post", "/delete-selected-chat")
            htmx.process('#delSelectedChatBtn')
            htmx.process('#updateChatButton')
            const resp = await fetch("/get-selected-chat?chatid=" + chatId, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            const data = await resp.json()
            document.getElementById('currentChatMessage').value = data
            selectedChatId = chatId
            editOrDeleteModal.show()
        }
        async function editOrDeletePChat(pChatID) {
            document.getElementById('updateChatButton').setAttribute("hx-post", "/update-selected-pchat")
            document.getElementById('delSelectedChatBtn').setAttribute("hx-post", "/delete-selected-pchat")
            htmx.process('#delSelectedChatBtn')
            htmx.process('#updateChatButton')
            const resp = await fetch("/get-selected-pchat?chatid=" + pChatID, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            const data = await resp.json()
            document.getElementById('currentChatMessage').value = data
            selectedChatId = pChatID
            editOrDeleteModal.show()
        }

        const jsWorker = new Worker("js/worker.js")
        var listOfUsersArr = []
        var taggedUser = []
        var newInput = ""
        async function checkForTagging() {
            newInput = document.getElementById('gchatinput').value
            for (var i = 0; i < taggedUser.length; i++) {
                newInput = newInput.replace(taggedUser[i], "")
            }

            if (newInput.includes('@') && newInput.split('@')[1] > '') {

                const resp = await fetch("/get-all-users-to-tag?user=" + newInput.split('@')[1], {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                listOfUsersArr = await resp.json()
                if (listOfUsersArr != null) {
                    var userStr = ""
                    listOfUsersArr.forEach((item) => {
                        userStr += `<p onclick=selectTaggedUser('${item}') id='${item}'>${item}</p>`
                        document.getElementById('popbody').innerHTML = userStr

                    })

                } else {
                    document.getElementById('popbody').innerHTML = "No user found..."
                }

                document.getElementById('popovermain').setAttribute("style", "display: block; width: 50%; margin-left: 25%")

            } else {
                document.getElementById('popovermain').setAttribute("style", "display: none")
            }
        }
        function selectTaggedUser(username) {
            //document.getElementById('gchatinput').removeAttribute('oninput')
            document.getElementById('gchatinput').focus()
            taggedUser.push(username)
            //taggedUser = ""
            document.getElementById('gchatinput').value = document.getElementById('gchatinput').value.replace('@'.concat(newInput.split('@')[1]), username)
            document.getElementById('popovermain').setAttribute("style", "display: none")
        }
        function clearFormGetMessages() {
            document.getElementById('gchatinput').value = ""
            document.getElementById('gchatinput').style.height = ""

            taggedUser = []
            document.getElementById('gchatinput').setAttribute('oninput', "{checkForTagging(); this.style.height = Math.min(this.scrollHeight, 75) + 'px';}")
        }
        function clearPrivateFormGetMessages() {
            document.getElementById('privatechatinput').value = ""
            document.getElementById('privatechatinput').style.height = ""

            document.getElementById('privatechatinput').setAttribute('oninput', "this.style.height = Math.min(this.scrollHeight, 75) + 'px';")
        }
        function createNewThread() {
            if (document.getElementById('newThreadNameInput').value.length > 1) {
                testStr = "test"
                if (document.getElementById('newThreadNameInput').value.toLowerCase() == 'posts' || document.getElementById('newThreadNameInput').value.toLowerCase() == 'calendar') {
                    alert("cannot make a thread with this name")
                    return
                }
                var newOption = document.createElement("option")
                newOption.setAttribute("value", document.getElementById('newThreadNameInput').value)
                newOption.innerHTML = document.getElementById('newThreadNameInput').value
                document.getElementById('threadSelector').append(newOption)
                newOption.selected = true
                document.getElementById('loadGChathere').dispatchEvent(new Event('afterThreadSelectorLoadsEvent'))
            } else {
                alert("Not a valid thread name")
            }
        }
        function submitCreateGChatMessage(event) {
            if (event.code.includes("Enter") || event.key.includes("Enter") || event.keyCode == 13) {
                event.preventDefault()
                document.getElementById("messageform").dispatchEvent(new Event('submit'))
            }
        }
        function submitCreatePrivateChatMessage(event) {
            if (event.code.includes("Enter") || event.key.includes("Enter") || event.keyCode == 13) {
                event.preventDefault()
                document.getElementById("privatemessageform").dispatchEvent(new Event('submit'))
            }
        }
        htmx.on('#messageform', 'htmx:afterRequest', function (event) {
            event.detail.xhr.status === 401
                && alert("Please login first.")
        })

    </script>

</body>


</html>