<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--<script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>-->
    <script src="js/htmx.min.js"></script>
    <script src="js/htmx_json-enc.js"></script>
    <title>The Family Loop</title>
</head>

<body>

    <h3 style="text-align: center; padding: 1%;">Home</h3>

    <div class="sticky-top" id="anchor">

    </div>

    <div style="text-align: center; padding-top: 1%; padding-bottom: 1%;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPostModal">
            Create a Post!
        </button>
    </div>
    <div class="modal" id="openPostModal" tabindex="-1" aria-labelledby="openPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="post-comments" class="modal-content p-3" style="border-radius: 5%;">

                <div class="modal-content" id="modal-post-content">
                </div>
                <form id="createcomment" class="d-grid" hx-post="/create-comment"
                    hx-vals='js:{"selectedPostId": selectedPostId}' hx-ext='json-enc' hx-target="#modal-post-content"
                    hx-swap="beforeend" hx-on:htmx:after-request="clearForm()">
                    <input class="my-2 shadow-sm border-1 text-center" name="comment" id="commentnote" type="text"
                        placeholder="add comment" required maxlength="280" oninput="checkCommentValidity()" />


                    <button type="button" class="btn btn-dark col" data-bs-dismiss="modal">close</button><br />
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="post-div" class="modal-content p-2">

                <form id="createpostele" class="d-inline-grid" hx-post="/create-post" hx-encoding="multipart/form-data"
                    hx-swap="none">

                    <input class="my-2 shadow-sm border-1 text-center" style="width: 100%" name="title" id="posttitle"
                        type="text" placeholder="title your post" required maxlength="128" />
                    <input class="my-2 shadow-sm border-1 text-center" style="width: 100%" name="description"
                        id="postdesc" type="text" placeholder="describe the post" required maxlength="420" />
                    <input id="postinput" class="my-2 shadow" oninput="checkValidityOfFiles()" multiple type="file"
                        required style="width: 100%" name="file_name" accept="image/*,video/*"
                        placeholder="Upload photos or video" />

                </form>
                <div id="progressdiv" style="display: none; text-align: center;">
                    <p>Image upload progress: </p><progress style="text-align: center;" id='progress' value='0'
                        max='100'>

                    </progress>
                </div>


                <button type="button" class="btn btn-dark col" data-bs-dismiss="modal">close</button><br />
                <!--<button type="submit" id="formsubmit" class="btn btn-success col">post</button>-->
            </div>
        </div>

    </div>

    <script>

        var createPostModalObj = new bootstrap.Modal(document.getElementById('createPostModal'), {});

        var openPostModalObj = new bootstrap.Modal(document.getElementById('openPostModal'), {});

        var openPostModalEle = document.getElementById('openPostModal')

        var divForFormBtns = document.getElementById('post-div')

        var createPostSubmitBtn = document.createElement('button')
        createPostSubmitBtn.setAttribute("type", "submit")
        createPostSubmitBtn.setAttribute("class", "btn btn-success col my-2")
        createPostSubmitBtn.setAttribute("id", "formsubmit")
        createPostSubmitBtn.innerHTML = "post"
        var errorMessage = document.createElement('p')
        errorMessage.setAttribute("style", "color: red;")
        errorMessage.innerHTML = "You cannot post a video and pictures together"
        const createPostEle = document.getElementById('createpostele')
        var fileList = []

        function checkValidityOfFiles() {
            fileList = []
            for (var i = 0; i < document.getElementById('postinput').files.length; i++) {
                fileList.push(document.getElementById('postinput').files[i].name.split(".", 2)[1])
            }

            if (fileList.includes("mov", "jpg", "png", "mp4", "jpeg", "mkv", "mpeg", "avi", "webm", "flv", "wmv", "3gpp", "tiff") && fileList.length > 1) {
                if (createPostEle.contains(createPostSubmitBtn)) {
                    createPostEle.removeChild(createPostSubmitBtn)
                }

                createPostEle.append(errorMessage)
            } else {
                // append form button again
                if (createPostEle.contains(errorMessage)) {
                    createPostEle.removeChild(errorMessage)
                }
                createPostEle.append(createPostSubmitBtn)
            }
        }

        htmx.on('#post-div', 'htmx:xhr:progress', function (evt) {
            document.getElementById('progressdiv').style.display = 'block'
            htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
            if (document.getElementById('progress').value == 100) {
                createPostModalObj.toggle()
            }
        });

        function checkCommentValidity() {

            const submitBtn = document.createElement('button')
            if (document.getElementById('commentnote').value > '' && !document.getElementById('createcomment').contains(document.getElementById('submitCommentBtn'))) {

                submitBtn.setAttribute('class', 'btn btn-success col')
                submitBtn.setAttribute('type', 'submit')
                submitBtn.setAttribute('id', 'submitCommentBtn')
                submitBtn.innerHTML = 'comment'
                document.getElementById('createcomment').append(submitBtn)
            } else if (document.getElementById('commentnote').value == '' && document.getElementById('createcomment').contains(document.getElementById('submitCommentBtn'))) {
                document.getElementById('createcomment').removeChild(document.getElementById('submitCommentBtn'))

            }

        }
        function clearForm() {
            if (document.getElementById('createcomment').contains(document.getElementById('submitCommentBtn'))) {
                document.getElementById('createcomment').removeChild(document.getElementById('submitCommentBtn'))
                document.getElementById('commentnote').value = ''
            }
        }

    </script>
    <div hx-get="/new-posts" hx-trigger="load, every 5s" hx-target="#refreshbutton" style="text-align: center;"
        class="px-5" id="polling">
        <div id="refreshbutton">

        </div>
    </div>

    <div style="text-align: center;" class="px-5" id="posts-div">
        <div hx-get="/get-posts" hx-trigger="load" hx-target="#post-items" id="divofposts">
            <div id="post-items" name="item-count">

            </div>
        </div>
    </div>

    <script>
        var iter = 0
        const listOfImageObj = []
        htmx.on("#divofposts", "htmx:load", async function getImgs(event) {
            var imgListUUId = event.detail.elt.children[0].getAttribute("id")
            if (imgListUUId != 'video') {
                listOfImageObj.push({ id: imgListUUId, imgs: await getListOfImgs(imgListUUId) })

            }
        })
        async function getListOfImgs(imgListUUId) {
            const resp = await fetch("/get-post-images?id=" + imgListUUId, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            var output = resp.json()
            return output
        }
        function nextLeftImage(id) {

            var imgCaro = document.getElementById(id)
            const imgArray = listOfImageObj.filter((data) => data.id === imgCaro.getAttribute('id'))[0].imgs

            if (iter == 0) {
                iter = imgArray.length - 1
                imgCaro.setAttribute("src", "https://the-family-loop-customer-hash.s3.amazonaws.com/posts/images/" + imgArray[iter])
            }
            else {
                imgCaro.setAttribute("src", "https://the-family-loop-customer-hash.s3.amazonaws.com/posts/images/" + imgArray[iter - 1])
                iter--
            }
        }
        function nextRightImage(id) {

            var imgCaro = document.getElementById(id)
            const imgArray = listOfImageObj.filter((data) => data.id === imgCaro.getAttribute('id'))[0].imgs

            if (iter == imgArray.length - 1) {
                iter = 0
                imgCaro.setAttribute("src", "https://the-family-loop-customer-hash.s3.amazonaws.com/posts/images/" + imgArray[iter])
            }
            else {
                imgCaro.setAttribute("src", "https://the-family-loop-customer-hash.s3.amazonaws.com/posts/images/" + imgArray[iter + 1])
                iter++
            }


        }
        var selectedPostId = 0
        let badge = document.createElement('i')
        badge.setAttribute('class', 'bi bi-patch-exclamation px-1')
        badge.setAttribute('id', 'notebadge')
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: "smooth" });
            document.getElementById('notification').removeChild(badge)
        }
        var dbCount = null
        htmx.on('#post-items', 'htmx:afterSettle', function (event) {

            htmx.on('#polling', 'htmx:afterRequest', function (data) {

                if (dbCount !== document.getElementById('post-items').childElementCount) {
                    //console.log("need a refresh")
                    if (document.getElementById('notification').childElementCount == 0) {

                        document.getElementById('notification').append(badge)
                    }

                } else {
                    //console.log('no refresh')
                    if (document.getElementById('notification').contains(badge)) {
                        document.getElementById('notification').removeChild(badge)
                    }

                }
            })
        })
        htmx.on("#createpostele", "htmx:afterRequest", function (event) {
            if (event.detail.xhr.status == 401) {
                alert("Please login before creating a post.")
            } else if (event.detail.xhr.status == 400) {
                alert("Something was wrong with the file you provided.")
            } else if (event.detail.xhr.status == 200) {
                alert('success')
                window.location.reload()
            }
        })

        function openPostFunction(id) {
            selectedPostId = id
            openPostModalObj.toggle()
        }
        openPostModalEle.addEventListener('shown.bs.modal', function modalOpen(event) {
            //console.log('shown')


        })

        openPostModalEle.addEventListener('hidden.bs.modal', function modalClosed(event) {
            //console.log('hidden')

        })

    </script>
    </div>

    </div>

</body>

</html>