<nav class="navbar navbar-expand-sm" style="background-color: rgba(190, 214, 213, .0); z-index: 0;" id="ournav"
    hx-target="#anchor">

    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="text-align-last: center; font-size: medium;" id="navbarText">
            <ul class="navbar-nav nav-fill w-100" style="display: contents;" id="navlist">
                <!--<li class="nav-item"><img src='assets/favicon-32x32.png' alt="tfl-logo" /></li>-->
                <li class="nav-item navCustomItem"><a class="nav-link" href="/calendar">calendar</a></li>
                <li class="nav-item navCustomItem"><a class="nav-link" href="/groupchat">chat</a></li>
                <li class="nav-item navCustomItem"><a class="nav-link" href="/posts">posts</a></li>
                <li class="nav-item navCustomItem"><a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        games
                    </a>
                    <ul class="dropdown-menu" style="left: auto;">
                        <li><a class="dropdown-item my-2 py-2" href="/games/simple-shades"
                                style="background-color: rgb(99 81 95 / 15%);">Simple
                                Shades</a></li>
                        <li><a class="dropdown-item my-2 py-2" href="/games/stackerz"
                                style="background-color: rgb(99 81 95 / 15%);">Stackerz</a></li>
                    </ul>
                </li>
                <li class="nav-item navCustomItem"><a class="nav-link" href="/bugreport">report an issue</a></li>
                <!--<li><button onclick="sendMessageToWorker()">Testme</button></li>-->
                <li class="nav-item" id="navitemforwelcome"><button id="loginlogoutnav" class="nav-link"
                        onclick='{loginModal.toggle(); showLoginForm()}'>login</button>
                </li>
            </ul>
        </div>
        <!--<p onclick='scrollToTop()' class="btn" hx-get="/get-posts" style="display: contents;" hx-trigger="click"
            hx-target="#post-items" style="color: blue;" id="notification"></p>-->
    </div>
</nav>
<div class="modal customModalTrans" tabindex="-1" id="changepfpmodal" aria-labelledby="openchangepfpmodal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3" style="border-radius: 15px / 15px; background-color: rgb(99 81 255 / 65%);">
            <div class="modal-header p-2 my-1" id="changepfpheader"
                style="display: block; background-color: white; border-radius: 15px / 15px;">
                <h4 class="modal-title" style="text-align: center;">Change profile picture</h4>
            </div>
            <form hx-encoding="multipart/form-data" class="form modal-content border-0" hx-post="/update-pfp"
                hx-swap="none" id="updatepfpform" style="padding: 5%; border-radius: 15px / 15px;">
                <input id="pfpchangeinput" type="file" class="my-2" name="changepfp" placeholder="Upload new pfp"
                    accept="image/*" oninput="checkPfpChangeValidity()" />
                <input style="display: none;" name="usernameinput" id="invisibleusernameinput" />
                <button id="changePfpSubmitBtn" disabled="true" class="btn btn-outline-success col my-2">change</button>
                <button type="button" class="btn btn-outline-dark col my-2" data-bs-dismiss="modal">close</button><br />
            </form>
        </div>
    </div>
</div>
<div class="modal customModalTrans" data-bs-backdrop="static" tabindex="-1" id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content border-2"
            style="background-color: rgb(146 255 231 / 89%); border-radius: 15px / 15px; box-shadow: 2px 2px 6px 0px;">
            <div class="modal-header" id="login-modal-header" style="display: block;">
                <h4 class="modal-title" style="text-align: center;">Login or Sign Up</h4>
                <!--<p style='color: cornflowerblue'>Everyone's account has been deleted so I could setup notifications in
                    the near future.
                    Please sign up again with an email. After you sign up, follow the instructions to install the app.
                    Thanks :)</p>-->
                <button id="modalclose" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div style="display: flex; justify-content: space-around;">
                    <button class="btn px-5 btn-outline-secondary" id="login-button"
                        onclick='showLoginForm()'>Login</button>
                    <button class="btn px-5 btn-outline-secondary" id="signup-button"
                        onclick='showSignUpForm()'>Sign-up</button>
                </div>
                <div id="togglesignuplogin">
                    <form class="form" id="login-form" name="loginform" hx-post="/login" hx-trigger="submit"
                        hx-on="loginevent: loginFunction()" hx-swap="none" hx-indicator="#loadingspinner">
                        <!--<<form id="loginSignupForm" name="loginform" hx-post="/login" class="form" hx-trigger="submit"
                        hx-swap="none">-->

                        <div class="p-4">
                            <h5>Login</h5>
                            <label>Username or email:</label>
                            <input class="form-control" autocomplete="username" type="text" style="width: 100%"
                                name="usernamelogin" placeholder="Username or email"
                                oninput="checkForValidLoginSubmission()" required id="usernamelogininput" />
                        </div>
                        <div class="p-4">
                            <label>Password:</label>
                            <input class="form-control" style="width: 100%" name="passwordlogin" type="password"
                                autocomplete="new-password" placeholder="Password"
                                oninput="checkForValidLoginSubmission()" required id="passwordlogininput" />
                        </div>

                    </form>
                    <form class="form" hx-post="/signup" id="sign-up-form" hx-trigger="submit"
                        hx-encoding="multipart/form-data" hx-swap="none" hx-target="this"
                        hx-indicator="#loadingspinner">
                        <!-- <form method="post" action="/signup" enctype="multipart/form-data" class="form" id="sign-up-form"
                        name="signupform" target="_blank" onsubmit="signUpFormSubmitted()">-->

                        <div class="p-4">
                            <h5>Sign Up</h5>
                            <label>Username:</label>
                            <input class="form-control" autocomplete="username" type="text" name="usernamesignup"
                                placeholder="Username" oninput="checkForValidSignUpSubmission()" required
                                id="usernamesignupinput" />
                        </div>
                        <div class="p-4">
                            <label>Email:</label>
                            <input class="form-control" type="email" name="emailsignup" autocomplete="email"
                                placeholder="email@example.com" oninput="checkForValidSignUpSubmission()" required
                                id="emailsignupinput" maxlength="64" />
                        </div>
                        <div class="p-4">
                            <label>Password:</label>
                            <input class="form-control" type="password" name="passwordsignup"
                                autocomplete="new-password" placeholder="Password"
                                oninput="checkForValidSignUpSubmission()" required id="passwordsignupinput" />
                        </div>
                        <div class="p-4">
                            <label>Confirm Password:</label>
                            <input class="form-control" type="password" autocomplete="new-password"
                                placeholder="Password" oninput="checkForValidSignUpSubmission()" required
                                id="confirmpasswordsignupinput" name="confirmpasswordsignup" />
                        </div>
                        <div class="p-4">

                            <label>Pick a profile picture</label>
                            <input class="form-control" id="pfpimage" type="file" accept="image/*"
                                oninput="checkForValidSignUpSubmission()" name="pfpformfile" required />

                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

</div>


<script>
    var changePfpModal = new bootstrap.Modal(document.getElementById('changepfpmodal'), {});
    let p = document.getElementById('anchor')
    let c = document.getElementById('ournav')


    var signup = document.getElementById('sign-up-form')
    var loginele = document.getElementById('login-form')
    let parentauth = document.getElementById('togglesignuplogin')
    //let parentauth = document.getElementById('loginSignupForm')
    let loginbtn = document.getElementById('login-button')
    let signupbtn = document.getElementById('signup-button')

    let gologin = document.createElement('button')
    let gosignup = document.createElement('button')

    let usernamelogininput = document.getElementById('usernamelogininput')
    let passwordlogininput = document.getElementById('passwordlogininput')

    let usernamesignupinput = document.getElementById('usernamesignupinput')
    let emailsignupinput = document.getElementById("emailsignupinput")
    let passwordsignupinput = document.getElementById('passwordsignupinput')
    let confirmpasswordsignupinput = document.getElementById('confirmpasswordsignupinput')

    var loginModal = new bootstrap.Modal(document.getElementById('login-modal'), {});

    var navbarItems = document.getElementById('navbarText')

    var navItemToReplace = document.getElementById('navitemforwelcome')
    var navInnerToReplace = document.getElementById('loginlogoutnav')

    const logoutButton = document.createElement('button')
    logoutButton.setAttribute("class", "btn btn-outline-secondary")

    logoutButton.setAttribute("onclick", 'logoutFunction()')
    logoutButton.innerHTML = "Logout"

    const navItemWelcome = document.createElement('li')
    const divToStickNav = document.createElement('div')
    divToStickNav.setAttribute("style", "display: contents;")

    navItemWelcome.setAttribute("class", "nav-item")

    const navItemWelcomeAvatar = document.createElement('img')
    navItemWelcomeAvatar.setAttribute("class", "border-0 mx-3")
    // clip-path: inset(30px 7px 30px 7px round 100%)
    navItemWelcomeAvatar.setAttribute("style", "width: 8%; height: auto; border-radius: 35%;")
    navItemWelcomeAvatar.setAttribute("src", "https://d33gjmrumfzeah.cloudfront.net/pfp/question.png")
    navItemWelcomeAvatar.setAttribute("id", "pfpavatar")
    navItemWelcomeAvatar.setAttribute("alt", "Your family loop pfp")
    var username = ''

    p.append(c)
    async function fetchSeshDetails(token) {

        const resp = await fetch("/get-username-from-session?id=" + token /*+ "&notify=" + notify,*/, {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })

        const text = await resp.json()

        username = text.Username
        chatTheme = text.BGtheme
        gchatOrderOpt = text.GchatOrderOpt

        text.Pfpname <= ""
            ? logoutFunction()
            : navItemWelcomeAvatar.setAttribute("src", "https://d33gjmrumfzeah.cloudfront.net/pfp/" + text.Pfpname)
        return text
    }


    navItemWelcomeAvatar.addEventListener('click', async (event) => {
        changePfpModal.show()
    })
    /*p.addEventListener("scroll", function () {
        console.log("scroll")
        document.getElementById('toggleNavItems').dispatchEvent(new Event('click'))
    })*/
    function checkPfpChangeValidity() {
        var pfpChangeInput = document.getElementById('pfpchangeinput')
        var pfpChangeBtn = document.getElementById('changePfpSubmitBtn')
        var updatePfpForm = document.getElementById('updatepfpform')
        var invisibleInputForUsername = document.getElementById('invisibleusernameinput')
        invisibleInputForUsername.value = username
        if (pfpChangeInput.value == '')
            pfpChangeBtn.setAttribute("disabled", "true")
        else
            pfpChangeBtn.removeAttribute('disabled')

        updatepfpform.addEventListener('htmx:afterRequest', async function setPfp(event) {
            pfpChangeBtn.setAttribute("disabled", "true")

            pfpChangeBtn.removeEventListener('click', setPfp)

            if (event.detail.xhr.status == 200)
                window.location.reload()
            else if (event.detail.xhr.status == 400)
                alert("Something was wrong with that picture :(")

        })
    }

    function logoutFunction() {
        location.href = "/"
        document.cookie = "session_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        //window.location.reload()

    }
    if (document.cookie.includes("session_id=")) {
        fetchSeshDetails(document.cookie.split("session_id=")[1])
        divToStickNav.append(navItemWelcomeAvatar)
        divToStickNav.append(logoutButton)

        document.getElementById('navlist').removeChild(navItemToReplace)
        navbarItems.append(divToStickNav)
    } else {

        loginModal.toggle()
        showLoginForm()
        //showSignUpForm()
        //document.getElementById('login-modal').setAttribute('data-bs-backdrop', 'static')
        //document.getElementById('login-modal').setAttribute('data-bs-keyboard', 'false')
        document.getElementById('login-modal-header').contains(document.getElementById('modalclose')) &&
            document.getElementById('login-modal-header').removeChild(document.getElementById('modalclose'))
    }
    function checkForValidLoginSubmission() {

        if (usernamelogininput.value > '' && passwordlogininput.value > '') {

            gologin.setAttribute("type", "submit")
            gologin.setAttribute("id", 'logingobutton')
            gologin.setAttribute("class", "btn btn-outline-success")
            gologin.setAttribute("data-bs-dismiss", "modal")

            gologin.innerHTML = "Go!"

            loginele.append(gologin)
        } else if ((usernamelogininput.value == '' || passwordlogininput.value == '') && loginele.contains(gologin)) {
            loginele.removeChild(gologin)
        }
    }
    function checkForValidSignUpSubmission() {
        if (usernamesignupinput.value > '' && emailsignupinput.value > '' && passwordsignupinput.value > '' && passwordsignupinput.value === confirmpasswordsignupinput.value) {

            gosignup.setAttribute("type", "submit")
            gosignup.setAttribute("id", 'signupgobutton')
            gosignup.setAttribute("class", "btn btn-outline-success")
            gosignup.setAttribute("data-bs-dismiss", "modal")

            gosignup.innerHTML = "Go!"

            signup.append(gosignup)

        } else if ((usernamesignupinput.value == '' || emailsignupinput.value == '' || passwordsignupinput.value == '' || confirmpasswordsignupinput.value == '' || passwordsignupinput.value !== confirmpasswordsignupinput.value) && signup.contains(gosignup)) {

            signup.removeChild(gosignup)

        }
    }

    function showSignUpForm() {

        if (parentauth.childElementCount >= 1) {
            signupbtn.setAttribute('class', 'btn px-5 btn-secondary')


            loginbtn.setAttribute('class', 'btn px-5 btn-outline-secondary')
            signup.setAttribute("style", "display: inherit")
            //parentauth.appendChild(signup)
            if (parentauth.contains(loginele)) {
                parentauth.removeChild(loginele)
            }
        }

    }
    htmx.on("#sign-up-form", "htmx:afterRequest", function (event) {

        if (event.detail.xhr.status == 401) {
            alert("Are you trying to bypass client side validation??!?!?!")
        } else if (event.detail.xhr.status == 200) {
            alert('Sign up Successful! You can now login');
            loginModal.toggle();
            showLoginForm();
        } else if (event.detail.xhr.status == 400) {
            alert("Something was wrong with the picture you provided. Try a different one")
        } else if (event.detail.xhr.status == 409) {
            alert("That email already exists")
            window.location.reload()
        }

    })
    function showLoginForm() {
        if (parentauth.childElementCount >= 1) {
            loginbtn.setAttribute('class', 'btn px-5 btn-secondary')
            signupbtn.setAttribute('class', 'btn px-5 btn-outline-secondary')
            if (parentauth.contains(signup)) {
                //parentauth.removeChild(signup)
                signup.setAttribute("style", "display: none")
            }

            parentauth.appendChild(loginele)
        }
    }


    function loginFunction() {
        alert("username or password incorrect")

        loginModal.toggle()
        showLoginForm()
    }

</script>
<script type="module">
    import app from "/js/init-firebase.js"
    import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-messaging.js";
    const messaging = getMessaging(app);

    var notificationBody = {}

    let name = "session_id=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');


    for (let i = 0; i < ca.length; i++) {
        let c = ca[i];

        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }

        if (c.indexOf(name) == 0) {

            let session_token = c.substring(name.length, c.length)
            const checkSubResp = await fetch(`/get-check-if-subscribed?session_id=${session_token}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then((data) => {

                if (data.status == 202) {
                    if (!("Notification" in window)) {
                        // Check if the browser supports notifications
                        alert("This browser does not support desktop notification");
                    } else {

                        Notification.requestPermission().then((res) => {

                            if (Notification.permission == 'granted') {

                                getToken(messaging, { vapidKey: "BJmKY269Mkqw_zRnXy0n1ncFOBsamgi7hSpli4hKGlAJ-OKTae7qj8scasqrO9dpdmntNXXgbsMK3okY0bpOBVQ" })
                                    .then((currentToken) => {

                                        notificationBody = {
                                            username: session_token,
                                            fcm_token: currentToken
                                        }
                                        fetch("/create-subscription", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify(notificationBody)
                                        })
                                            .then(() => {
                                                return window.navigator.serviceWorker
                                                    .getRegistration('/firebase-cloud-messaging-push-scope')
                                                    .then((serviceWorker) => {
                                                        if (serviceWorker) return serviceWorker;
                                                        return window.navigator.serviceWorker.register('/firebase-messaging-sw.js', {
                                                            scope: '/firebase-cloud-messaging-push-scope',
                                                        });
                                                    });
                                            }).catch((err) => {
                                                alert(err)
                                            })
                                    }).catch((err) => alert(err))
                            }

                        })
                    }
                }
            }).catch((err) => console.log(err))
        }
    }




</script>