<nav class="navbar" style="background-color: rgba(190, 214, 213, .0); z-index: 0;" id="ournav" hx-target="#anchor">

    <div class="container">
        <button class="navbar-toggler navbar-dark" style="color: white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="text-align-last: center; font-size: medium;" id="navbarText">
            <ul class="navbar-nav nav-fill w-100" style="display: contents;" id="navlist">
                <!--<li class="nav-item"><img src='assets/favicon-32x32.png' alt="tfl-logo" /></li>-->
                <li class="nav-item navCustomItem"><a class="nav-link" href="/calendar"
                        style="color: rgb(200, 210, 230)">calendar</a>
                </li>
                <li class="nav-item navCustomItem"><a class="nav-link" href="/groupchat"
                        style="color: rgb(200, 210, 230)">chat</a>
                </li>
                <li class="nav-item navCustomItem"><a class="nav-link" href="/posts"
                        style="color: rgb(200, 210, 230)">posts</a></li>
                <!--<li class="nav-item navCustomItem"><a class="nav-link" href="/time-capsule"
                        style="color: rgb(200, 210, 230)">time capsule</a></li>-->
                <li class="nav-item navCustomItem"><a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(200, 210, 230)">
                        games
                    </a>
                    <ul class="dropdown-menu" style="left: auto;">
                        <li><a class="dropdown-item my-2 py-2" href="/games/simple-shades"
                                style="background-color: rgb(99 81 95 / 15%);">Simple
                                Shades</a></li>
                        <li><a class="dropdown-item my-2 py-2" href="/games/stackerz"
                                style="background-color: rgb(99 81 95 / 15%);">Stackerz</a></li>
                        <li><a class="dropdown-item my-2 py-2" href="/games/catchit"
                                style="background-color: rgb(99 81 95 / 15%);">Catch it</a></li>
                    </ul>
                </li>
                <li class="nav-item navCustomItem" id="adminDashboardLinkDiv"><a class="nav-link"
                        href="/admin-dashboard" style="color: rgb(200, 210, 230)">Admin Portal</a></li>
                <li class="nav-item navCustomItem"><a class="nav-link" href="/bugreport"
                        style="color: rgb(200, 210, 230)">report an
                        issue</a></li>
                <!--<li><button onclick="sendMessageToWorker()">Testme</button></li>-->
                <li class="nav-item" id="navitemforwelcome"><button id="loginlogoutnav" class="nav-link"
                        onclick='{loginModal.toggle(); showLoginForm()}'>login</button>
                </li>
            </ul>
        </div>
        <!--<p onclick='scrollToTop()' class="btn" hx-get="/get-posts" style="display: contents;" hx-trigger="click"
            hx-target="#post-items" style="color: blue;" id="notification"></p>-->
    </div>
</nav>
<div class="modal customModalTrans" tabindex="-1" id="changepfpmodal" aria-labelledby="openchangepfpmodal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3" style="border-radius: 15px / 15px; background-color: rgb(99 81 255 / 65%);">



            <form hx-encoding="multipart/form-data" class="form modal-content border-0" hx-post="/update-pfp"
                hx-swap="none" id="updatepfpform" style="padding: 5%; border-radius: 15px / 15px;">
                <div class="modal-header p-2 my-1" id="changepfpheader" style="display: block;">
                    <h5 class="modal-title" style="text-align: center;">Change profile picture</h5>
                </div>
                <input id="pfpchangeinput" type="file" class="my-2" name="changepfp" placeholder="Upload new pfp"
                    accept="image/*" oninput="checkPfpChangeValidity()" />
                <input style="display: none;" name="usernameinput" id="invisibleusernameinput" />
                <button id="changePfpSubmitBtn" disabled class="btn btn-outline-success col my-2">change</button>
                <button type="button" class="btn btn-dark col my-2" data-bs-dismiss="modal">close</button><br />
            </form>
        </div>
    </div>
</div>

<div class="modal customModalTrans" data-bs-backdrop="static" tabindex="-1" id="pay-regular-subscriber-modal">
    <div class="modal-dialog">
        <div class="modal-content border-2" onclick="window.location.reload()"
            style="background-color: rgb(255 255 255 / 90%); border-radius: 15px / 15px; box-shadow: 2px 2px 6px 0px;">
            <div class="modal-header" id="pay-regular-subscriber-modal-header" style="display: block;">
                <h4 class="modal-title" style="text-align: center;">Pay for regular user subscription</h4>
            </div>
            <div class="modal-body">

                <div style="display: block; text-align: center;">
                    <p>You must pay for the $1.99 regular user subscription before taking part in this loop.</p>
                    <p style="font-size: smaller;">You will be navigated to the-family-loop.com landing page where you
                        will need to open an account (only a username & email are needed) in order to subscribe</p>
                    <a target="_self" id="linktopay">Pay here!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal customModalTrans" data-bs-backdrop="static" tabindex="-1" id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content border-2"
            style="background-color: rgb(255 255 255 / 90%); border-radius: 15px / 15px; box-shadow: 2px 2px 6px 0px;">
            <div class="modal-header" id="login-modal-header" style="display: block;">
                <h4 id="loginModalHeader" class="modal-title" style="text-align: center;">Login or Sign Up</h4>

                <!--<button id="modalclose" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>-->
            </div>
            <div class="modal-body">

                <div style="display: flex; justify-content: space-around;">
                    <button class="btn px-5 btn-outline-secondary" id="login-button"
                        onclick='showLoginForm()'>Login</button>
                    <button class="btn px-5 btn-outline-secondary" id="signup-button"
                        onclick='showSignUpForm()'>Sign-up</button>
                </div>
                <div id="togglesignuplogin">
                    <form id="resetPassForm" style="display: none" class="form" hx-swap="none"
                        hx-post="/reset-password-with-code"
                        hx-vals="js:{'user': usernameToResetPass, 'email': emailToResetPass}"
                        hx-on::after-request="afterResetRequest(event)" hx-indicator="#loadingspinner">
                        <input style="display: none;" id="invisibleuserfield" type="text" autocomplete="username"
                            placeholder="username" />
                        <div class="p-4">
                            <label>New Password:
                                <input class="form-control" type="password" name="resetnewpassinput"
                                    autocomplete="new-password" placeholder="Password"
                                    oninput="checkForValidResetPassChange()" required id="resetnewpassin" /></label>
                        </div>
                        <div class="p-4">
                            <label>Confirm New Password:
                                <input class="form-control" type="password" autocomplete="new-password"
                                    placeholder="Password" oninput="checkForValidResetPassChange()" required
                                    id="resetconfirmnewpassin" name="resetconfirmnewpassinput" /></label>
                        </div>
                        <p id="passworddonotmatchreset" style="color: red;"></p>
                        <p id="passwordnotstrongreset" style="color: red"></p>
                        <div class="p-4">
                            <label>Reset Code:
                                <input class="form-control" type="text" maxlength="6" placeholder="000000" required
                                    id="resetCodeIn" name="resetCodeInput" /></label>
                        </div>
                    </form>
                    <form class="form" style="display: none; z-index: 5;" name="changeAdminPassForm"
                        id="changeAdminPassForm" hx-post="/update-admin-pass"
                        hx-vals="js:{'username': document.getElementById('usernamelogininput').value}" hx-ext="json-enc"
                        hx-trigger="submit" hx-swap="none" hx-indicator="#loadingspinner">
                        <input style="display: none;" id="invisibleusernamefield" type="text" autocomplete="username"
                            placeholder="username" />
                        <div class="p-4">
                            <label>New Password:
                                <input class="form-control" type="password" name="newadminpassinput"
                                    autocomplete="new-password" placeholder="Password"
                                    oninput="checkForValidAdminPassChange()" required id="newadminpassin" /></label>
                        </div>
                        <div class="p-4">
                            <label>Confirm New Password:
                                <input class="form-control" type="password" autocomplete="new-password"
                                    placeholder="Password" oninput="checkForValidAdminPassChange()" required
                                    id="confirmnewadminpassin" name="confirmnewadminpassinput" /></label>
                        </div>
                        <p id="passworddonotmatchresetadmin" style="color: red;"></p>
                        <p id="passwordnotstrongresetadmin" style="color: red">
                    </form>
                    <form class="form" id="login-form" name="loginform" hx-post="/login"
                        hx-vals="js:{'mytz': Intl.DateTimeFormat().resolvedOptions().timeZone}" hx-trigger="submit"
                        hx-on::after-request="loginFunction(event)" hx-swap="none" hx-indicator="#loadingspinner">
                        <div class="p-4">
                            <h5>Login</h5>
                            <label style="width: 100%">Username or email:
                                <input class="form-control" autocomplete="username" type="text" name="usernamelogin"
                                    placeholder="Username or email" oninput="checkForValidLoginSubmission()" required
                                    id="usernamelogininput" /></label>
                        </div>
                        <div class="p-4">
                            <label>Password:
                                <input class="form-control" style="width: 100%" name="passwordlogin" type="password"
                                    autocomplete="new-password" placeholder="Password"
                                    oninput="checkForValidLoginSubmission()" required id="passwordlogininput" /></label>
                        </div>
                        <a hx-prompt="What is your email associated with the account?" hx-post="/reset-password"
                            hx-ext="json-enc" hx-on::after-request="showResetLink(event)" hx-swap="none"
                            style="right: 20%; position: relative; left: 65%" class="link" id="resetPassLink">forgot
                            password</a>
                    </form>
                    <form class="form" hx-post="/signup" id="sign-up-form" hx-trigger="submit"
                        hx-encoding="multipart/form-data" hx-swap="none"
                        hx-vals="js:{'mytz': Intl.DateTimeFormat().resolvedOptions().timeZone}" hx-target="this"
                        hx-indicator="#loadingspinner">
                        <div class="p-4">
                            <h5>Sign Up</h5>
                            <label for="usernamesignupinput">Username:
                                <input class="form-control" autocomplete="username" type="text" name="usernamesignup"
                                    placeholder="Username" maxlength="15" oninput="checkForValidSignUpSubmission()"
                                    required id="usernamesignupinput" /></label>
                        </div>
                        <div class="p-4">
                            <label for="emailsignupinput">Email:
                                <input class="form-control" type="email" name="emailsignup" autocomplete="email"
                                    placeholder="email@example.com" oninput="checkForValidSignUpSubmission()" required
                                    id="emailsignupinput" maxlength="64" /></label>
                        </div>
                        <div class="p-4">
                            <label for="passwordsignupinput">Password:
                                <input class="form-control" type="password" name="passwordsignup"
                                    autocomplete="new-password" placeholder="Password"
                                    oninput="checkForValidSignUpSubmission()" required
                                    id="passwordsignupinput" /></label>
                        </div>
                        <div class="p-4">
                            <label for="confirmpasswordsignupinput">Confirm Password:
                                <input class="form-control" type="password" autocomplete="new-password"
                                    placeholder="Password" oninput="checkForValidSignUpSubmission()" required
                                    id="confirmpasswordsignupinput" name="confirmpasswordsignup" /></label>
                            <p id="passworddonotmatch" style="color: red;"></p>
                            <p id="passwordnotstrong" style="color: red;"></p>
                        </div>
                        <div class="p-4">
                            <label for="birthdayInput">When is your birthday?
                                <input id="birthdayInput" type="date" name="birthday"
                                    onchange="checkForValidSignUpSubmission()" required /></label>
                            <p id="invalidBirthday" style="color: red;"></p>
                        </div>
                        <div class="p-4">
                            <label for="orgidinput">Family Passcode (Ask your admin for this):
                                <input class="form-control" type="text" placeholder="familyname_123abc234"
                                    oninput="checkForValidSignUpSubmission()" required id="orgidinput"
                                    name="orgidinput" /></label>
                        </div>
                        <div class="p-4">

                            <label for="pfpimage">Pick a profile picture
                                <input class="form-control" id="pfpimage" type="file" accept="image/*"
                                    oninput="checkForValidSignUpSubmission()" name="pfpformfile" required />
                            </label>
                        </div>
                        <div class="p-4">
                            <label for="opentcbtn">You must accept the term's and conditions:
                                <button id="opentcbtn" class="btn btn-primary" type="button"
                                    onclick="{tandcModal.toggle(); document.getElementById('accepttandcinput').style.display = ''; document.getElementById('labelforaccept').style.display = ''}">Open
                                </button><br /></label>
                            <label id="labelforaccept" style="display: none" for="accepttandcinput">Accept:
                                <input onchange="checkForValidSignUpSubmission()" type="checkbox" name="acceptedtandc"
                                    id="accepttandcinput" placeholder="accept" style="display: none;" /></label>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="modal customModalTrans" tabindex="-1" id="tcmodal">
    <div class="modal-dialog">
        <div class="modal-content border-2"
            style="background-color: rgb(146 255 231 / 89%); border-radius: 15px / 15px; box-shadow: 2px 2px 6px 0px;">
            <div class="modal-header" id="login-modal-header" style="display: block;">
                <h4 class="modal-title" style="text-align: center;">Terms & Conditions</h4>

                <button id="modalclosebtn" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                **Terms and Conditions for The Family Loop Subscription Service** <br /><br />

                **1. Subscription Agreement** <br /><br />

                By subscribing to The Family Loop, you agree to abide by the terms and conditions outlined herein. This
                agreement is entered into between you (the "Subscriber") and zantonwebsolutions, the administrator of
                The Family Loop. <br /><br />

                **2. Subscription Billing**<br /><br />

                a. **Monthly Billing:** Subscribers will be billed on a monthly basis for the use of The Family Loop.
                The billing cycle will commence upon subscription activation.<br /><br />

                b. **Cancellation:** Subscribers can cancel their subscription at any time. Cancellation requests can be
                made through The Family Loop admin portal or by contacting the owner directly. Once canceled, no further
                charges will be applied.<br /><br />

                **3. Data Privacy**<br /><br />

                a. **User Credentials:** zantonwebsolutions will not share, sell, or disclose Subscriber emails,
                passwords, or any other account credentials.<br /><br />

                b. **Social Media Data:** zantonwebsolutions will not access or log into any Subscriber's social media
                personal apps unless required for diagnosing or troubleshooting issues related to the functionality of
                The Family Loop.<br /><br />

                **4. Data Security**<br /><br />

                a. **Privacy:** zantonwebsolutions is committed to protecting the privacy of Subscriber data. All
                personal and social media-related information is securely stored and will only be used in accordance
                with our Privacy Policy.<br /><br />

                b. **Security Measures:** zantonwebsolutions employs industry-standard security measures to safeguard
                Subscriber data against unauthorized access, disclosure, alteration, and destruction.<br /><br />

                **5. Subscriber Responsibilities**<br /><br />

                a. **Accurate Information:** Subscribers are responsible for providing accurate and up-to-date
                information during the registration process.<br /><br />

                b. **Security Awareness:** Subscribers are encouraged to maintain the confidentiality of their account
                credentials and report any unauthorized access immediately.<br /><br />

                **6. Limitation of Liability**<br /><br />

                zantonwebsolutions shall not be held liable for any direct, indirect, incidental, special,
                consequential, or punitive damages arising out of the use or inability to use The Family
                Loop.<br /><br />

                **7. Modifications to Terms and Conditions**<br /><br />

                zantonwebsolutions reserves the right to modify these terms and conditions at any time. Subscribers will
                be notified of any changes through email or through the The Family Loop platform.<br /><br />

                **8. Governing Law**<br /><br />

                This agreement is governed by the laws of the United States of America. Any disputes arising from this
                agreement shall be resolved in the courts of the United States of America.<br /><br />

                By subscribing to The Family Loop, you acknowledge that you have read, understood, and agreed to these
                terms and conditions. If you do not agree with any part of this agreement, you should not proceed with
                the subscription.<br /><br />
                <button class="btn btn-primary" type="button" onclick="tandcModal.hide()">close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var changePfpModal = new bootstrap.Modal(document.getElementById('changepfpmodal'), {});
    let p = document.getElementById('anchor')
    let c = document.getElementById('ournav')

    var usernameToResetPass = null
    var emailToResetPass = null
    var signup = document.getElementById('sign-up-form')
    var loginele = document.getElementById('login-form')
    const changeAdminPassForm = document.getElementById('changeAdminPassForm')
    const changePassForm = document.getElementById('resetPassForm')
    let parentauth = document.getElementById('togglesignuplogin')
    //let parentauth = document.getElementById('loginSignupForm')
    let loginbtn = document.getElementById('login-button')
    let signupbtn = document.getElementById('signup-button')

    let gologin = document.createElement('button')
    let gosignup = document.createElement('button')
    gosignup.setAttribute("type", "submit")
    gosignup.setAttribute("id", 'signupgobutton')
    gosignup.setAttribute("class", "btn btn-outline-success")
    gosignup.setAttribute("data-bs-dismiss", "modal")

    gosignup.innerHTML = "Go!"

    var todaysDate = new Date().toISOString().split("T")[0]

    let birthdayInputSignup = document.getElementById('birthdayInput')

    birthdayInputSignup.setAttribute("max", todaysDate)
    birthdayInputSignup.setAttribute("min", "1900-12-20")

    let usernamelogininput = document.getElementById('usernamelogininput')
    let passwordlogininput = document.getElementById('passwordlogininput')

    let changeAdminPassIn = document.getElementById('newadminpassin')
    let confirmChangeAdminPassIn = document.getElementById('confirmnewadminpassin')
    let changeResetPassIn = document.getElementById('resetnewpassin')
    let confirmChangeResetPassIn = document.getElementById('resetconfirmnewpassin')

    let usernamesignupinput = document.getElementById('usernamesignupinput')
    let emailsignupinput = document.getElementById("emailsignupinput")
    let passwordsignupinput = document.getElementById('passwordsignupinput')
    let confirmpasswordsignupinput = document.getElementById('confirmpasswordsignupinput')

    var loginModal = new bootstrap.Modal(document.getElementById('login-modal'), {});
    var payLinkModal = new bootstrap.Modal(document.getElementById('pay-regular-subscriber-modal'), {});
    var tandcModal = new bootstrap.Modal(document.getElementById('tcmodal'), {});

    var pfpChangeInput = document.getElementById('pfpchangeinput')
    var pfpChangeBtn = document.getElementById('changePfpSubmitBtn')
    var updatePfpForm = document.getElementById('updatepfpform')
    var invisibleInputForUsername = document.getElementById('invisibleusernameinput')

    var navbarItems = document.getElementById('navbarText')

    var navItemToReplace = document.getElementById('navitemforwelcome')
    var navInnerToReplace = document.getElementById('loginlogoutnav')

    const adminPassSubmitBtn = document.createElement('button')
    adminPassSubmitBtn.setAttribute("class", "btn btn-success")
    adminPassSubmitBtn.setAttribute("type", "submit")
    adminPassSubmitBtn.innerHTML = "Change"
    const resetPassSubmitBtn = document.createElement('button')
    resetPassSubmitBtn.setAttribute("class", "btn btn-success")
    resetPassSubmitBtn.setAttribute("type", "submit")
    resetPassSubmitBtn.innerHTML = "Change"

    const logoutButton = document.createElement('button')
    logoutButton.setAttribute("class", "btn btn-secondary")
    logoutButton.setAttribute("id", "logoutButtonOnNav")
    //logoutButton.setAttribute("onclick", 'logoutFunction()')
    logoutButton.innerHTML = "Logout"

    const navItemWelcome = document.createElement('li')
    const divToStickNav = document.createElement('div')
    divToStickNav.setAttribute("style", "display: contents;")

    navItemWelcome.setAttribute("class", "nav-item")

    const navItemWelcomeAvatar = document.createElement('img')
    navItemWelcomeAvatar.setAttribute("class", "border-0 mx-3")
    // clip-path: inset(30px 7px 30px 7px round 100%)
    navItemWelcomeAvatar.setAttribute("style", "width: 8%; height: auto; border-radius: 35%;")
    navItemWelcomeAvatar.setAttribute("id", "pfpavatar")
    navItemWelcomeAvatar.setAttribute("alt", "Click here to change")

    var username = ''
    var fcmKey = ''
    var isAdmin = false

    p.append(c)

    async function fetchSeshDetails() {

        const resp = await fetch("/get-username-from-session", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })

        if (resp.status == 401) {
            //document.dispatchEvent(new Event("onUnauthorizedEvent"))
            window.history.pushState("", "", "/")
            loginModal.show()
            showLoginForm()
            return
        } else if (resp.status == 302) {

            var loopfullurl = window.location.href.replace('https://', '').replace('/', '')
            window.history.pushState("", "", "/")
            if (loopfullurl.includes(':'))
                loopfullurl = loopfullurl.split(":")[0]

            loopfullurl = loopfullurl.replace("/posts", "")
            var respdata = await resp.json()

            document.getElementById('linktopay').setAttribute("href", `https://the-family-loop.com/plans/regular-user-plan?orgid=${respdata.orgid}&fullloopurl=https://${loopfullurl}&username=${respdata.username}`)
            payLinkModal.show()
            return
        }

        const text = await resp.json()

        username = text.Username
        chatTheme = text.BGtheme
        gchatOrderOpt = text.GchatOrderOpt
        cfDomain = text.CFDomain
        isAdmin = text.Isadmin
        fcmKey = text.Fcmkey.String

        if (window.location.path === "/admin-dashboard" && (isAdmin != null || isAdmin != undefined))
            isAdmin = text.Isadmin

        text.Isadmin ?
            document.getElementById('adminDashboardLinkDiv').style.display = "block"
            : document.getElementById('adminDashboardLinkDiv').style.display = "none"

        text.Username.length < 1
            ? window.dispatchEvent(new Event("onUnauthorizedEvent"))
            :
            cfDomain <= "" || text.Pfpname.String <= "" ?
                navItemWelcomeAvatar.setAttribute("src", "assets/apple-touch-icon.jpg")
                : navItemWelcomeAvatar.setAttribute("src", "https://" + cfDomain + "/pfp/" + text.Pfpname.String)

        if (document.getElementById('notifydiv')) {
            Notification.permission !== 'granted' || fcmKey.length < 1 ?
                document.getElementById('notifydiv').setAttribute("style", "display: inline")
                : document.getElementById('notifydiv').setAttribute("style", "display: none")
        }

        return text
    }


    navItemWelcomeAvatar.addEventListener('click', showPfpModal = async (event) => {
        changePfpModal.show()
    })

    /*p.addEventListener("scroll", function () {
        console.log("scroll")
        document.getElementById('toggleNavItems').dispatchEvent(new Event('click'))
    })*/
    function checkPfpChangeValidity() {

        invisibleInputForUsername.value = username
        if (pfpChangeInput.value.length > 1) {
            document.getElementById("changePfpSubmitBtn").disabled = false
            pfpChangeBtn.className = "btn btn-success col my-2"
        }

    }
    updatepfpform.addEventListener('htmx:afterRequest', async function setPfp(event) {
        pfpChangeBtn.setAttribute("disabled", "true")

        pfpChangeBtn.removeEventListener('click', setPfp)

        if (event.detail.xhr.status == 200)
            window.location.reload()
        else if (event.detail.xhr.status == 400)
            alert("Something was wrong with that picture :(")

    })
    function showResetLink(event) {
        if (event.detail.xhr.status == 400) {
            alert("Make sure you are using the correct email. You can only reset your password once every 24 hours.")
        }
        const parseJson = JSON.parse(event.detail.xhr.response)
        alert("Here is your reset code. Do not lose this code. It will expire in 10 minutes: " + parseJson.code)
        showChangePassForm(parseJson.user, parseJson.email)
    }
    function showChangePassForm(username, email) {
        changePassForm.style.display = "block"
        usernameToResetPass = username
        emailToResetPass = email
        loginbtn.disabled = true
        signupbtn.disabled = true
        loginele.style.display = "none"
        document.getElementById('loginModalHeader').innerHTML = "Change password"
    }
    loginele.addEventListener("changeAdminPassword", () => {
        alert("Please create a new personal password")
        loginbtn.disabled = true
        signupbtn.disabled = true
        document.getElementById('loginModalHeader').innerHTML = "Change password"
        document.getElementById('resetPassLink').remove()
        updateAdminPassword()
    })
    function updateAdminPassword() {

        loginModal.toggle()
        loginele.style.display = "none"
        changeAdminPassForm.style.display = "block"
    }
    function afterResetRequest(event) {
        if (event.detail.xhr.status == 200) {
            alert("Success")
            loginbtn.disabled = false
            signupbtn.disabled = false
            loginele.style.display = "block"
            changePassForm.style.display = "none"
            document.getElementById('loginModalHeader').innerHTML = "Login or Sign Up"
            showLoginForm();
        } else if (event.detail.xhr.status == 400) {
            alert("Unable to change your password. Please try again")
        } else if (event.detail.xhr.status == 401) {
            alert("Incorrect reset code")
        }

    }

    if (document.cookie.includes("session_id=")) {

        fetchSeshDetails()
        divToStickNav.append(navItemWelcomeAvatar)
        divToStickNav.append(logoutButton)

        document.getElementById('navlist').removeChild(navItemToReplace)

        navbarItems.append(divToStickNav)

    } else {

        loginModal.toggle()
        showLoginForm()
        //showSignUpForm()
        //document.getElementById('login-modal').setAttribute('data-bs-backdrop', 'static')
        //document.getElementById('login-modal').setAttribute('data-bs-keyboard', 'false')
        document.getElementById('login-modal-header').contains(document.getElementById('modalclose')) &&
            document.getElementById('login-modal-header').removeChild(document.getElementById('modalclose'))
    }



    function checkForValidAdminPassChange() {

        if (changeAdminPassIn.value !== confirmChangeAdminPassIn.value) {
            document.getElementById('passworddonotmatchresetadmin').innerHTML = "Passwords do not match!"
            if (changeAdminPassForm.contains(adminPassSubmitBtn))
                changeAdminPassForm.removeChild(adminPassSubmitBtn)
        } else
            document.getElementById('passworddonotmatchresetadmin').innerHTML = ""

        if (changeAdminPassIn.value.length < 7 || changeAdminPassIn.value.match(/[!$@#%^&*()_+|~=`{}\[\]:";'<>?,.]/) == null) {
            document.getElementById('passwordnotstrongresetadmin').innerHTML = "Password needs at least 8 characters and a special character (!@#$^&*)"
            if (changeAdminPassForm.contains(adminPassSubmitBtn))
                changeAdminPassForm.removeChild(adminPassSubmitBtn)
        } else
            document.getElementById('passwordnotstrongresetadmin').innerHTML = ""

        if (changeAdminPassIn.value == confirmChangeAdminPassIn.value && changeAdminPassIn.value.length > 7) {
            changeAdminPassForm.append(adminPassSubmitBtn)
        } else if (changeAdminPassIn.value !== confirmChangeAdminPassIn.value && changeAdminPassForm.contains(adminPassSubmitBtn)) {

            changeAdminPassForm.removeChild(adminPassSubmitBtn)
        }

    }
    function checkForValidResetPassChange() {

        if (changeResetPassIn.value !== confirmChangeResetPassIn.value) {
            document.getElementById('passworddonotmatchreset').innerHTML = "Passwords do not match!"
            if (changePassForm.contains(resetPassSubmitBtn))
                changePassForm.removeChild(resetPassSubmitBtn)
        } else
            document.getElementById('passworddonotmatchreset').innerHTML = ""

        if (changeResetPassIn.value.length < 7 || changeResetPassIn.value.match(/[!$@#%^&*()_+|~=`{}\[\]:";'<>?,.]/) == null) {
            document.getElementById('passwordnotstrongreset').innerHTML = "Password needs at least 8 characters and a special character (!@#$^&*)"
            if (changePassForm.contains(resetPassSubmitBtn))
                changePassForm.removeChild(resetPassSubmitBtn)
        } else
            document.getElementById('passwordnotstrongreset').innerHTML = ""

        if (changeResetPassIn.value == confirmChangeResetPassIn.value && changeResetPassIn.value.length > 7) {
            changePassForm.append(resetPassSubmitBtn)
        } else if (changeAdminPassIn.value !== confirmChangeResetPassIn.value && changePassForm.contains(resetPassSubmitBtn)) {

            changePassForm.removeChild(resetPassSubmitBtn)
        }

    }
    function checkForValidLoginSubmission() {

        if (usernamelogininput.value > '' && passwordlogininput.value > '') {

            gologin.setAttribute("type", "submit")
            gologin.setAttribute("id", 'logingobutton')
            gologin.setAttribute("class", "btn btn-success")
            gologin.setAttribute("data-bs-dismiss", "modal")
            gologin.style.position = "relative"
            gologin.style.right = "25%"
            gologin.style.width = "25%"
            gologin.innerHTML = "Go!"

            loginele.append(gologin)
        } else if ((usernamelogininput.value == '' || passwordlogininput.value == '') && loginele.contains(gologin)) {
            loginele.removeChild(gologin)
        }
    }
    function checkForValidSignUpSubmission() {
        if (passwordsignupinput.value !== confirmpasswordsignupinput.value) {
            document.getElementById('passworddonotmatch').innerHTML = "Passwords do not match!"
            if (signup.contains(gosignup))
                signup.removeChild(gosignup)
        } else
            document.getElementById('passworddonotmatch').innerHTML = ""

        if (passwordsignupinput.value.length < 7 || passwordsignupinput.value.match(/[!$@#%^&*()_+|~=`{}\[\]:";'<>?,.]/) == null) {
            document.getElementById('passwordnotstrong').innerHTML = "Password needs at least 8 characters and a special character (!@#$^&*)"
            if (signup.contains(gosignup))
                signup.removeChild(gosignup)
        } else
            document.getElementById('passwordnotstrong').innerHTML = ""

        if (((new Date() - new Date(birthdayInputSignup.value)) / 1000 / 24 / 60 / 60) <= (365 * 13) || birthdayInputSignup.value.length == 0) {
            document.getElementById('invalidBirthday').innerHTML = "You must be 13 years or older to sign up"
            if (signup.contains(gosignup))
                signup.removeChild(gosignup)
        } else
            document.getElementById('invalidBirthday').innerHTML = ""
        if (document.getElementById('pfpimage').value.length > 1 && document.getElementById('accepttandcinput').checked && usernamesignupinput.value > '' && passwordsignupinput.value > '' && passwordsignupinput.value === confirmpasswordsignupinput.value && document.getElementById('orgidinput').value.length > 1 && passwordsignupinput.value.length > 7 && confirmpasswordsignupinput.value.length > 7 && emailsignupinput.value.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/) && (birthdayInputSignup.value.length >= 0 && ((new Date() - new Date(birthdayInputSignup.value)) / 1000 / 24 / 60 / 60) >= (365 * 13))) {
            signup.append(gosignup)

        } else if (passwordsignupinput.value !== confirmpasswordsignupinput.value && usernamesignupinput.value == '' || document.getElementById('pfpimage').value.length == 0 || !document.getElementById('accepttandcinput').checked || emailsignupinput.value == '' || passwordsignupinput.value == '' || confirmpasswordsignupinput.value == '' || !emailsignupinput.value.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/) || (birthdayInputSignup.value.length == 0 && ((new Date() - new Date(birthdayInputSignup.value)) / 1000 / 24 / 60 / 60) <= (365 * 13))) {
            if (signup.contains(gosignup))
                signup.removeChild(gosignup)
        }
    }

    function showSignUpForm() {

        if (parentauth.childElementCount >= 1) {
            signupbtn.setAttribute('class', 'btn px-5 btn-secondary')


            loginbtn.setAttribute('class', 'btn px-5 btn-outline-secondary')
            signup.setAttribute("style", "display: inherit")
            //parentauth.appendChild(signup)
            if (parentauth.contains(loginele)) {
                parentauth.removeChild(loginele)
            }
        }

    }
    htmx.on("#sign-up-form", "htmx:afterRequest", function (event) {

        if (event.detail.xhr.status == 400) {
            alert("Are you trying to bypass client side validation??!?!?!")
        } else if (event.detail.xhr.status == 401) {
            alert("You have an incorrect family passcode. Please confirm this with your plan administrator")
            loginModal.toggle();
            showSignUpForm()

        } else if (event.detail.xhr.status == 200) {
            alert('Sign up Successful! You can now login. You will receive an email to set a password for your tfl payments account');
            loginModal.toggle();
            showLoginForm();
        } else if (event.detail.xhr.status == 500) {
            alert("Something was wrong with the picture you provided. Try a different one")
        } else if (event.detail.xhr.status == 409) {
            alert("That email already exists")
            window.location.reload()
        } else if (event.detail.xhr.status == 424) {
            alert("Sign up failed. Your family loop has reached it maximum allowed amount of users. Please reach out to your account administrator.")
            window.location.reload()
        }

    })
    function showLoginForm() {
        if (parentauth.childElementCount >= 1) {
            loginbtn.setAttribute('class', 'btn px-5 btn-secondary')
            signupbtn.setAttribute('class', 'btn px-5 btn-outline-secondary')
            if (parentauth.contains(signup)) {
                //parentauth.removeChild(signup)
                signup.setAttribute("style", "display: none")
            }

            parentauth.appendChild(loginele)
        }
    }

    function loginFunction(event) {

        if (event.detail.xhr.status === 401) {
            alert("username or password incorrect")

            loginModal.toggle()
            showLoginForm()
            document.getElementById('usernamelogininput').focus()
        }
    }

</script>
<script type="module">
    import { logoutFunction, getNotified } from "/js/globalFunctions.js"

    if (document.getElementById("logoutButtonOnNav"))
        document.getElementById("logoutButtonOnNav").addEventListener("click", logoutFunction)
    if (document.getElementById("notifydiv"))
        document.getElementById("notifydiv").addEventListener("click", getNotified)

    window.addEventListener("onUnauthorizedEvent", () => {
        logoutFunction()
    })
    window.addEventListener("onRevealedYouHaveNotPurchasedRegularUserSubscriptionPlan", () => {
        console.log('you have not purchased :(')
    })

</script>