<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <link rel="manifest" href="assets/manifest.json" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom-css.css" rel="stylesheet">
    <link href="css/font-css.css" rel="stylesheet">
    <link href="404.html" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/htmx.min.js"></script>
    <script src="js/htmx_json-enc.js"></script>
    <script type="javascript" src="firebase-messaging-sw.js"></script>
    <title>Time Capsule</title>
</head>

<body style="background: linear-gradient(180deg, #00106e, #00ecff 55%); height: 100dvh">
    <div class="spinner-indicator" id="loadingspinner"
        style="width: 100%; height: 100%; background-color: rgb(197, 197, 197);">

        <img width="90px" height="90px" class="spinner-indicator" src="assets/LoadingSpinner.png" />
    </div>

    <img id="bannerimg" src="assets/TFLBannerW.png" alt="Welcome to TFL!"
        style="text-align: center; width: 35dvw; left: 50dvw; position: absolute; top: 0%" />


    <div class="sticky-top" id="anchor">

    </div>
    <header id="timecapheader">
        <p id="headerContent"
            style="text-align: center; color: white; padding-left: 2%; padding-right: 2%; padding-bottom: 0%; font-size: 9.5pt">
            Have you ever lost pictures from over the years or spent way too much time trying to find a specific video?
            Create a durable, digital time capsule to store pictures, video & even text files! Stored safely
            for 1, 3 or 7 years.
            <br><br>
            Time capsules aren't meant to be looked at ahead of time. If you really start to lose patience, you will
            have to reach out to your administrator to unlock and send your files.
        </p>
    </header>
    <div id="pageSelectionBanner"
        style="text-align: center; height: 35px; width: 100dvw; display: flex; justify-content: space-around; background-color: rgb(255 255 255 / 9%); border-width: thin; box-shadow: 1px 1px 3px black; align-content: center; flex-wrap: wrap;">
        <p onclick="switchActivePage()" style="margin-bottom: 0%">&lt;</p>
        <p id="currentPageSelector" style="margin-bottom: 0%; font-weight: 600;">
            Create a New Capsule!</p>
        <p onclick="switchActivePage()" style="margin-bottom: 0%">&gt;</p>
    </div>
    <div id="createNewCapsuleDiv">

        <form id="createCapsuleForm" class="d-inline-grid mx-1" hx-on::after-request="afterTCCreateReq(event)"
            hx-post="/create-new-tc" hx-encoding="multipart/form-data" hx-swap="none" hx-indicator="#loadingspinner"
            style="background-color: white; border-radius: 15px / 15px; padding: 3%; margin-top: 5%"
            hx-confirm="Your file may take time to upload depending on its size. Please stay on this next loading screen and don't leave the page until it is complete.">
            <div style="display: block;">
                <h4>How long would you like to store your time capsule?</h4><br />
                <div style="display: flex; justify-content: space-around;">
                    <div class="form-check">

                        <label class="form-check-label" for="yearsToStoreInput">
                            <input class="form-check-input" type="radio" value="one_year" name="yearsToStore"
                                id="yearsToStoreInput" checked>
                            1 Year
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="threeYearsToStore">
                            <input class="form-check-input" type="radio" value="three_years" name="yearsToStore"
                                id="threeYearsToStore">
                            3 Years
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="yearsToStoreInputSeven">
                            <input class="form-check-input" type="radio" value="seven_years" name="yearsToStore"
                                id="yearsToStoreInputSeven">
                            7 Years
                        </label>
                    </div>
                </div>
            </div><br />
            <div style="display: flex; justify-content: space-between; align-items: flex-end;">
                <label for="capsulename">Give it a name!</label>
                <input id="capsulename" name="tcName" type="text" maxlength="18" placeholder="My memories" required
                    oninput="checkValidityOfFiles()"
                    style="width: 50%; border-width: thin; border-radius: 24px / 24px; text-align: center; box-shadow: 2px 2px 7px gray;" />

            </div><br />
            <label for="tcfileinput">Choose what to put in your time capsule:</label>
            <input id="tcfileinput" name="tcfileinputname" class="my-2 shadow" oninput="checkValidityOfFiles()" multiple
                type="file" required
                style="width: 100%; box-shadow: 3px 6px 10px gray!important; border-radius: 15px / 15px;" maxlength="18"
                name="file_name" accept="image/*,video/*,.txt,.pdf" placeholder="Upload photo, videos or text files" />
            <p id="checkForFileListSize" style="color: red"></p>
            <button id="submitNewTCForm" class="btn btn-success" style="display: none" type="submit">Create!</button>
        </form>
    </div>
    <div id="myCapsulesDiv" style="display: none;">
        <div style="margin-top: 1%" id="getEleListOfTC" hx-get="/get-my-time-capsules" hx-target="#listOfTCDivList"
            hx-trigger="click" hx-vals="js:{'pastorpresent': pastOrPresentTC}">
            <table class="table d-grid">
                <thead>
                    <tr style="display: flex; width: 100dvw; justify-content: space-between; background-color: white;">
                        <th style="font-size: smaller;">Capsule Name</th>
                        <th style="font-size: smaller;">Created on</th>
                        <th style="font-size: smaller;" id="sortOrderPastOrPresentHeading"
                            onclick="pastOrPresentTC === '>' ? pastOrPresentTC = '<' : pastOrPresentTC = '>'">
                            Availablility Date</th>
                        <th onclick="alert('delete')" style="font-size: smaller">
                            delete
                        </th>
                    </tr>
                </thead>
                <tbody id="listOfTCDivList" style="font-size: smaller; display: inline-table"></tbody>
            </table>
        </div>
    </div>

    <script>

        const createNewCapPage = document.getElementById('createNewCapsuleDiv')
        const usersCapsPage = document.getElementById('myCapsulesDiv')
        var pastOrPresentTC = ">"
        document.addEventListener('DOMContentLoaded', () => {

            document.getElementById('timecapheader').classList.add('fadeInOpacity')
        })
        function switchActivePage() {
            if (!createNewCapPage.style.display.includes("none")) {
                document.getElementById('currentPageSelector').innerHTML = "My Capsules"
                createNewCapPage.style.display = "none"
                usersCapsPage.style.display = ""
                document.getElementById('getEleListOfTC').dispatchEvent(new Event('click'))
            } else {
                document.getElementById('currentPageSelector').innerHTML = "Create a New Capsule!"
                createNewCapPage.style.display = ""
                usersCapsPage.style.display = "none"
            }
        }
        function checkValidityOfFiles() {
            var curFileListSize = 0
            for (var i = 0; i < document.getElementById('tcfileinput').files.length; i++) {
                curFileListSize += Math.trunc(document.getElementById('tcfileinput').files[i].size / 1024 / 1024)
            }

            if (document.getElementById('tcfileinput').files.length > 0 && document.getElementById('capsulename').value.length > 0)
                document.getElementById('submitNewTCForm').style.display = ""
            else
                document.getElementById('submitNewTCForm').style.display = "none"

            if (curFileListSize > 16384) {
                document.getElementById('submitNewTCForm').disabled = true
                document.getElementById('checkForFileListSize').innerHTML = "File size limit is 16gb"
            } else {
                document.getElementById('submitNewTCForm').disabled = false
                document.getElementById('checkForFileListSize').innerHTML = ""
            }
        }
        function afterTCCreateReq(event) {
            if (event.detail.xhr.status === 200)
                alert("Upload successful!")
            else
                alert(event.detail.xhr.responseText)
        }
    </script>
</body>

</html>